/* DOCS SHIT*/

.off-canvas .off-canvas-toggle {
    font-size: 1rem;
    left: 1.5rem;
    position: fixed;
    top: 1rem
}

.off-canvas .off-canvas-sidebar {
    width: 12rem;
    height:auto;
}

.off-canvas .off-canvas-content {
    padding: 0
}

.sidebar-nav {
    height: 3.8rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100
}

.sidebar-nav .btn {
    position: absolute;
    right: 1.5rem;
    top: 1rem
}

.global-sidebar .docs-nav {
    bottom: 1.5rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: .5rem 2.5rem;
    position: fixed;
    top: 4.5rem;
    width: 14rem
}




.accordion-header {
  font-size:14px;
}

.global-sidebar .accordion input:checked~.accordion-header {
    color: #5b657a;
}

.global-sidebar .accordion .menu .menu-item {
    font-size: .8rem;

}

.global-sidebar .accordion .menu .menu-item>a {
    background: 0 0;
    color: #667189;
    /* display: inline-block */
}

.page-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 5rem;
    width: calc(100vw - 12rem)
}

.page-content>.container {
    margin-left: 0;
    max-width: 985px;
    padding-bottom: 1.5rem
}


.page-content .off-canvas {
    position: relative
}

.page-content .off-canvas .off-canvas-toggle {
    left: .4rem;
    position: absolute;
    top: .4rem;
    z-index: 1
}


@media (max-width:960px) {
    .off-canvas .off-canvas-toggle {
        z-index: 300
    }
    .off-canvas .off-canvas-content {
        width: 100%
    }
    .global-sidebar .docs-brand {
        margin: .85rem 1.5rem;
        padding: 0;
        position: static
    }
    .global-sidebar .docs-nav {
        margin-top: 1rem;
        position: static
    }
    .global-sidebar .menu .menu-item>a {
        padding: .3rem .4rem
    }
    .sidebar-nav {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: white;
        left: 0
    }
    .page-content {
        min-width: auto;
        padding: 0 1.5rem;
        width: 100%
    }
    .page-content .s-subtitle,
    .page-content .s-title {
        padding-top: 5rem;
        position: static
    }
    .page-content .s-subtitle::before,
    .page-content .s-title::before {
        content: none
    }

}

@media (max-width:600px) {
    .off-canvas .off-canvas-toggle {
        left: .5rem
    }
    .sidebar-nav .btn {
        right: .9rem
    }
    .grid-hero .docs-brand {
        left: .9rem
    }
    .global-sidebar .docs-brand {
        margin: .85rem 1rem
    }
    .global-sidebar .docs-nav {
        padding: .5rem 1rem
    }
    .page-content {
        padding: 0 .5rem
    }
    .page-content .docs-block {
        padding: .4rem .1rem
    }
}
