.hvr-shrink {
  display                     : inline-block;
  max-height                  : 450px;
  box-shadow                  : 0 0 1px rgba(0, 0, 0, 0);
  vertical-align              : middle;
  -webkit-transform           : perspective(1px) translateZ(0);
  transform                   : perspective(1px) translateZ(0);
  transition                  : all 0.3s ease;
  -webkit-transition-property : transform;
  transition-property         : transform;
  -webkit-transition-duration : 0.3s;
  transition-duration         : 0.3s;
}

.hvr-shrink:active,
.hvr-shrink:focus,
.hvr-shrink:hover {
  -webkit-transform : scale(0.97);
  transform         : scale(0.97);
}

.portfolio-p {
  color : var(--portfolio-p);
}

.info-chunk-home {
  margin-bottom : 50px;
  text-align    : center;
}
