.hvr-shrink {
  display                     : inline-block;
  max-height                  : 450px;
  box-shadow                  : 0 0 1px rgba(0, 0, 0, 0);
  vertical-align              : middle;
  -webkit-transform           : perspective(1px) translateZ(0);
  transform                   : perspective(1px) translateZ(0);
  transition                  : all 0.3s ease;
  -webkit-transition-property : transform;
  transition-property         : transform;
  -webkit-transition-duration : 0.3s;
  transition-duration         : 0.3s;
}

.hvr-shrink:hover{
  cursor: pointer;
}

.hvr-shrink:active,
.hvr-shrink:focus,
.hvr-shrink:hover {
  -webkit-transform : scale(0.97);
  transform         : scale(0.97);
}

.gray-text {
  color : var(--portfolio-p);
}

.dark-gray-text{
  color: #435260;
}

.info-chunk-home {
  margin-bottom : 50px;
  text-align    : center;

}

#section-title{
  padding-top:100px; text-align:center; line-height:12px;
}

.sibling-highlight {
  margin-bottom : 0px;
  transition    : .5s;
  transition    : all 0.3s;
}

#parent,
.sibling-hover {
  transition : all 0.3s;
  cursor     : pointer;
}

.sibling-hover:hover ~ .sibling-highlight {
  content    : " View Project";
  color      : var(--red-text);
  transition : all 0.3s;
  transition : .2s;
}
