/* OLIVER ENGEL PORTFOLIO */
/* BUILT BY ME */
@import url('normalize.css');
/* @import url('nav.css');
@import url('index.css');
@import url('project.css'); */
/* @import url('personalized.css'); */
/* @import url('animations.css'); */

.last-updated::after {
  content: "May 2019";
}

.info-chunk > h1{
  line-height:1.1em;
}

.p-space{
  margin-top:25px;
}

.p-space > p {
  padding:10px 0px 10px 0px;
}


@font-face {
    font-family: 'Fakt Pro';
    src: url('/fonts/FaktPro-Normal.woff2') format('woff2'),
        url('/fonts/FaktPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt Pro';
    src: url('/fonts/FaktPro-Black.woff2') format('woff2'),
        url('/fonts/FaktPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



:root {
  --header-font: "Fakt Pro";
  --header-font-weight: 900;
  --header-color: #000;
  --body-font: "Fakt Pro";
  --body-font-weight: 400;
  --body-color: #000;
  --purple: #302ecd;
  --light-purple: #EBEAFB;
  --dark-gray: #2d2f32;
  --sidebar-text: #61606b;
  --nav-links: #846263;
  --green: #03884d;
  --green-light: #ECF4EE;
  --red-text: #d83a32;
  --logo-color: #10c172;
  --hover-text: #302ecd;
  --light-gray-text: #667189;
  --border-gray: #e1e0e4;
  --yellow: #989615;
  --light-yellow: #F4F3D9;
  --portfolio-p: #60768b;
  --bg-color: #FFF;
  --gray-header-text: #8390a5;
}

/* FONTS */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;

}

body {

  color: var(--body-color);
  overflow-x: hidden;
  /* background              : #fff; */
  background: var(--bg-color);
  font-family: var(--body-font),
    sans-serif;
  font-size: 18px;
  font-weight: var(--body-font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  margin: 0px;
  margin: 35px 0px 35px 0px;
  padding: 0px 25px 0px 25px;
  /* color: #00150b; */
  border-left: 5px solid var(--red-text);
  font-size: inherit;
  font-size: 1.1rem;
  line-height: 1.6em;
}

blockquote i {
  padding-bottom: 25px;
  color: var(--red-text);
}



li {
  line-height: 30px;
}

ol {
  font-size: 18px;
}

ol > li {
  padding-bottom:15px;
}

ul {
  padding-left: 0px;
}

video{
  border-radius: 3px;
  width: 100%;
}

img {
  /* margin-top:72px; */
  border-radius: 3px;
  width: 100%;
  transition: 0.3s;

  background: #F1F1FA;
  border: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

p > a {

  color: var(--red-text);
  outline: none;
  text-decoration: none;
  font-weight: 500;

  transition: all 0.3s;

  border-bottom-color: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d83932' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.2em;
    background-size: auto 4px;
    background-repeat:repeat-x;
    padding-bottom:3px;
}

p > a:hover{
  text-decoration: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d83932' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

p > a:focus, a:active{
  text-decoration: none;
  }

a {
  color: var(--red-text);
  outline: none;
  text-decoration: none;
  font-weight: 500;


}

a.active,
a:active,
a:focus,
a:hover {
  color: var(--red-text);
  text-decoration: underline;
}

a:visited {
  color: var(--red-text);
}

h1,
h2,
h3,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: var(--header-color);
  font-family: var(--header-font),
    sans-serif;
  font-weight: var(--header-font-weight);
  font-weight: var(--header-font-weight);
  line-height: 1.4em;
  /* letter-spacing : -.02em; */
}

h1 {
  font-size: 3.052em;
}

h2 {
  color: var(dark-gray);
  font-size: 1.953em;

}

h3 {
  color: var(dark-gray);
  font-size: 1.563em;
}

h4, h6 {
  color: var(--body-color);
  overflow-x: hidden;
  font-family: var(--body-font),
    sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  letter-spacing: -1px;
}

h5 {
  font-size: 1em;
}

/* h6 {
  font-size: .8rem;
} */

p {
  margin-top: 0px;
  line-height: 1.5rem;
}

/* *::selection {
  background: #FF9632;
} */

b {
  font-weight: 500;
}

ol {
  padding-left: 0px;
}

li {
  /* padding-bottom: 15px; */
}

.container {
  display: grid;
  width: 100%;
}

.divider {
  max-width: 985px;
  height: .05rem;
  margin: .4rem 0;
  border-top: .1rem solid var(--border-gray);
}

.page-content {

  display: grid;
  margin: 0 45px;
  padding-top: 45px;
  grid-template-columns: 1fr;
}

.page-content>.container {
  max-width: 1000px;
  margin: 0 auto;
}

.rounded-btn {
  margin-top: 10px;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 1.8rem;
  padding: .25rem .8rem;
  padding-right: 15px;
  padding-left: 15px;
  color: var(--red-text);
  border-color: var(--red-text);
  border-radius: .1rem;
  background: white;
  outline: none;
  text-align: center;
  text-decoration: none;
  border: 1.25px solid var(--red-text);
  vertical-align: middle;
  font-size: .8rem;
  line-height: 1.2rem;
  white-space: nowrap;
  transition: all .2s ease;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.rounded-btn:hover:enabled {
  cursor: pointer;
  color: white;
  background: var(--red-text);
}

.rounded-btn:disabled {
  cursor: default;
  color: var(--border-gray);
  border: 1.25px var(--border-gray) solid;
}

.image-next{
  padding-bottom:72px;
}

.viewport-border{
  position: fixed;
  top: 0;
  left: 0;
  border: 12px solid #fff1e8;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index:1000;
  user-select: none;
  pointer-events: none;
  box-sizing: border-box;
}

/* SPACERS */
.spacer-75px {
  height: 75px;
}

.spacer-50px {
  height: 50px;
}

.spacer-25px {
  height: 25px;
}

/* MISC */
.clear {
  clear: both;
}

.gray-header {
  color: var(--gray-header-text);
}

.button-green a:visited {
  color: white;
}

#logo-gif {
  width: 75px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

/* MEDIA QUERIES */
@media (max-width : 1076px) {
  .nav-container {
    padding: 0 15px;
  }


}

@media (max-width : 600px) {
  .page-content {
    margin: 0 15px;
  }

  .nav-container {
    padding: 0 15px;
  }
}

@media (max-width : 800px) {
  h1 {
    line-height: 1.1em;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }

  .mobile-remove {
    display: none;
  }

  .floatImage {
    width: 100%;
    float: none;
    object-fit: cover;
  }

  .grid,
  .grid-2,
  .grid-3-2,
  .grid-padded {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
}
