/*! CSS Used from: Embedded */
div, p, strong {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

*, :after, :before {
  box-sizing: inherit;
}

.ghost {
  font-size: 0;
}

.ghost:before {
  content: "";
  height: 100%;
  margin-left: -1px;
  width: 1px;
}

.ghost:before, .ghost__child {
  display: inline-block;
  vertical-align: middle;
}

.h4 strong {
  font-family: "Graphik Web Medium";
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

.h4 {
  font-family: "Graphik Web";
  font-weight: 400;
}

.h4 {
  font-stretch: normal;
  font-style: normal;
  font-size: 34px;
  line-height: 1.58;
  letter-spacing: -.03em;
}

.article__cover__text strong {
  font-family: "Graphik Web Semibold";
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

.cover__spread {
  width: 100%;
}

.cover__spread {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.animate {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: opacity 600ms ease-out, transform 400ms ease-out;
}

.animate.is-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.animate.is-static {
  transition-duration: 0ms;
}

.-lead {
  text-align: left;
}

.-lead {
  max-width: 1050px;
}

.-lead {
  display: inline-block;
  width: 100%;
}

.-text--left {
  text-align: left;
}

.-light {
  color: #fff;
}

@media only screen and (max-width:1440px) {
  .h4 {
    font-size: 28px;
  }
}

@media only screen and (max-width:1366px) {
  .-lead {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media only screen and (max-width:700px) {
  .-lead {
    min-width: 0;
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media only screen and (max-width:640px) {
  .h4 {
    font-size: 22px;
  }

  .-lead {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

/*! CSS Used from: Embedded */
#article-cover--5c3ce6692b6a28e8adb22722 .article__cover__text {
  color: #ffffff !important;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: "Graphik Web Medium";
  src: url(https://www.instrument.com/assets/fonts/graphik/Graphik-Medium-Web.eot);
  src: url(https://www.instrument.com/assets/fonts/graphik/Graphik-Medium-Web.eot#iefix) format("embedded-opentype"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Medium-Web.woff) format("woff"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Medium-Web.ttf) format("truetype"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Medium-Web.svg#Graphik-Medium) format("svg");
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Graphik Web";
  src: url(https://www.instrument.com/assets/fonts/graphik/Graphik-Regular-Web.eot);
  src: url(https://www.instrument.com/assets/fonts/graphik/Graphik-Regular-Web.eot#iefix) format("embedded-opentype"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Regular-Web.woff) format("woff"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Regular-Web.ttf) format("truetype"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Regular-Web.svg#Graphik-Regular) format("svg");
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Graphik Web Semibold";
  src: url(https://www.instrument.com/assets/fonts/graphik/Graphik-Semibold-Web.eot);
  src: url(https://www.instrument.com/assets/fonts/graphik/Graphik-Semibold-Web.eot#iefix) format("embedded-opentype"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Semibold-Web.woff) format("woff"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Semibold-Web.ttf) format("truetype"), url(https://www.instrument.com/assets/fonts/graphik/Graphik-Semibold-Web.svg#Graphik-Medium) format("svg");
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
}
