.html{
  font-size:100%;
}

.mood{
  width: 800px;
  margin: 0 auto;
}

.mood h1 {
  color:white;
}

 a:focus {
  box-shadow: none;
}

#eye{
  transition:.2s;
  color:#3c4e1b;
}
#eye:hover{
  cursor: pointer;
  color:white;
  transition: 0.2s;
}

.grid-centering {
  color:#3c4e1b;
  font-size: 2rem;
  margin-top:250px;
  letter-spacing: 2px;
  font-weight: 700;
  display: grid;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* .etched-text {
  text-shadow: 0 2px #3c4e1b;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
} */

@media (max-width:720px){
  .grid-centering{
    font-size:1rem;
  }
}
