.mood{
  width: 800px;
  margin: 0 auto;
}

.mood h1 {
  color:white;
}

.grid-centering {
  color:#3c4e1b;
  font-size: 32px;
  margin-top:40vw;
  letter-spacing: 2px;
  font-weight: 700;
  display: grid;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* .etched-text {
  text-shadow: 0 2px #3c4e1b;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
} */
