/* NAVIGATION */

:root{
--nav-color : #fff1e8;
/* --nav-color : white; */
}

.nav {
  z-index    : 3;
  position   : fixed;
  top        : 0;
  left       : 0;
  width      : 100%;
  background-color : var(--nav-color);
  transition: all 0.3s;
  /* opacity:.3; */

  font-size  : .85rem;

  animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */

    display: flex;
  justify-content: center;
  align-items: center;


}

.fade-in{
  animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}




.nav-container {

  max-width       : 1000px;
  margin          : auto;
  -ms-flex-pack   : justify;
  -ms-flex-wrap   : wrap;
  flex-wrap       : wrap;
  justify-content : space-between;
  align-items: center;
}

.nav .nav-container {
  display        : flex;
  height         : 55px;
  align-items    : center;
  -ms-flex-align : center;

}

.links a {
  padding        : 15px;
  color          : white;
  /* text-transform : uppercase; */
  font-size      : 18px;
  font-weight    : 500 !important;
  transition     : 0.3s;
}

.links a:hover {
  color           : var(--red-text);
  border-radius   : 3px;
  text-decoration : none;
  transition      : 0.3s;
}

.links a:visited {
  color: var(--nav-links);
}

.links a:visited:hover {
  color: var(--red-text);
}

.name-logo a {
  text-decoration : none;
  font-weight     : bold;
}

.name-logo a:hover {
  text-decoration : none !important;
}

.name-logo:hover {
  text-decoration : none;
}

.logo {
  color : var(--red-text);
}

.logo:focus {
  display : none;
}

.ani a:hover {
  text-decoration : none !important;
}

/* FOOTER */

.global-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  padding-bottom: 50px;
  /* padding-top    : 50px;
  padding-bottom : 50px;
  text-align     : right; */
}

.global-footer p{
  line-height:1.2rem;
}

.global-footer i{
  color:#8390a5;
}
