.grid {
  max-width:985px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* grid-auto-rows: 2em; */
  grid-gap: 1.5em;
  margin-bottom:18px;
  padding-top:50px;
}

.grid-two {
  max-width:985px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: 2em; */
  grid-gap: 1.5em;
  margin-bottom:18px;
  padding-top:50px;
}

.grid-reverse {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* grid-auto-rows: 2em; */
  grid-gap: 1em;
  margin-bottom:18px;
  padding-top:50px;
}

.grid-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  /* grid-auto-rows: 2em; */
  grid-gap: 1em;
  margin-bottom:18px;
  padding-top:50px;
}






.h4-multiline{
  line-height:1.5em;
}

.grayText{
  color:#9CA6B6
}

.flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:80%;



}

.largeType{
  font-size: 20px;
  line-height: 32px;

}

.child{

}

/* LAST updated */
.last-updated::after {
    content: "Aug 2018"
}


.docs-container{
margin-top:75px;
}

.h5-about{
margin-bottom:.2em;
}

.spacer{
  height:75px;
}

.spacer-50{
  height:50px;
}

.small-spacer{
  height:20px;
}

.large-spacer{
  height:40px;
}

.chip-list{
  /* padding-top:15px; */
}

.chip-blue{
  background: #f0f1f4;

  color: #667189;
}

.description{
  margin-top: 25px;
}

.next-project{
  margin-top:150px;
}

.image-block{
  display: block;
  width:100%;
  margin-top:50px;
  margin-bottom:25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.menu-item{
  -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.menu-item:hover{
  background:#F1F1FC;
  border-radius: 3px;
  color:#807fe2;

  -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.home:before{
  content:"⛺";
  font-size: 19px;
  line-height: 0px;
  position: relative;
  top: 1px;
}

.about:before{
  content:"🦖";
  font-size: 19px;
  line-height: 0px;
  position: relative;
  top: 2px;
}

.resume:before{
  content:"🚲";
  font-size: 19px;
  line-height: 0px;
  position: relative;
  top: 0px;
}



.text-gray-optical{
  color: #707880;
}

#menu-link:hover{
  color:#807fe2;

}

.active-link{
  color:#807fe2 !important;
}

.light-hr{
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;

}

.text-upper{
    color: #5b657a;
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:1rem;
}

.portfolio-item > h3{
  line-height:16px;
}





#sidebar{

}

#logo-gif{
  width:75px;
  padding-bottom:25px;
}

#siteHeader{

}

#updatedMonth{
  font-size: 12px;
  letter-spacing: .1em;
}

.intro{
  text-align:left;
  margin-bottom:100px;
}

.image-crop{

  border-radius:3px;
  object-fit: cover;
  width: 100%;
  min-height:350px;
  margin-bottom:25px;
}

.image-crop-mason{

  border-radius:3px;
  object-fit: cover;
  width: 100%;

  margin-bottom:25px;

}

.image-crop.smaller{

}



.portfolio{
  text-align:left;

}

.portfolio a:focus {
  box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, .2);
}

.portfolio h5 {
  color:#95a0b2;
  font-weight: 300;
}



.portfolio img{
  max-height:500px;
  border-radius:3px;
}


.first{
  float:left
}
.second{
  float:right;
}

.bottom-padding {
  padding-bottom:50px;
}

.info-chunk{
  margin-bottom:25px;
}

.fourth{
  width:25%;
  display: inline-block;
}

.three-fourth{
  width:66%;
  display: inline-block;

}
.full{
  display: inline-block;
}
.half{
  width:49%;
  display: inline-block;
}

.half-text{
  width:55%;
  display: inline-block;
}

.portfolio-section{
  display:block;
}

.sibling-highlight{
  margin-bottom:.2em;
}

.sibling-hover, #parent {
    cursor: pointer;
}
.sibling-hover:hover ~ .sibling-highlight {

    color: tomato;
}

.portfolio-item{
  margin-bottom:125px;
}

.html { visibility:hidden; }

.shape-separator {
  position: relative;
  height: 12px;
  background: tomato;
}
.shape-separator-subtle::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxLjQxNCI+PHBhdGggZD0iTTEyIDEybDEyIDEySDBsMTItMTJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);

  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
}


/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    transition: all 0.3s ease;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);

  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);

    transition: all 0.3s ease;

}




.placeholder-text{
  text-align:center;
  width:80%;
}

.btn-noclick {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: .05rem solid #fff;
  border-radius: .1rem;
  /* color: #5755d9; */
  cursor: text;
  display: inline-block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: .25rem .4rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  user-select: text;

  vertical-align: middle;
  white-space: nowrap;
}

li{
  line-height: 30px;
}

@media (max-width: 700px){
  .grid-four{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .grid, .grid-reverse, .grid-two{
  grid-template-columns: 1fr;
}

.grid-four{
  grid-template-columns: 1fr;
}

}



@media only screen and (max-width: 700px) {
  .half, .three-fourth, .fourth, .half-text {
    width:100%;
  }

.three-fourth{
  margin-top:40px;
}

}

@media only screen and (max-width: 995px) {

.placeholder-text{
  text-align:left;
}

}
