.fifty-fifty-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
  margin-top:50px;

}

.fifty-fifty-column{
  height:900px;
  padding-bottom: 50px;
  width: 100%;

}

.fifty-fifty-column > img{
  max-height: 100%;
  width: auto;

}

.padding-bottom-50px{
  padding-bottom: 50px;
}

.margin-bottom-50px{
  margin-bottom: 50px;
}



.transp-img{
  background: none;
}

.small-caps{

  margin-top:50px;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.no-img-bg{
  background: none;
  padding: 50px 0px 50px 0px;
  border-radius: 3px;
}

.img-padding{
  background: none;
  /* padding: 50px 0px 50px 0px; */
  border-radius: 3px;
}


.quote-context {
  transform: translateY(-30px);
  color: white;
  /* text-transform: uppercase; */
  /* font-size:13px; */
}

.top-info{
  width:100%;
  padding-top:15px !important;
}

.attribution {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
}

.research-list {
  font-size: 24px !important;
  border-left: 5px solid black;
}

.methods-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  grid-gap: 50px;
}

.method {
  text-align: center;
}

.method>img {}

.method>p {
  font-size: 22px;
}

.keyword {
  background-color: #ffeb3b;
  /* padding:10px 5px 10px 5px; */
  font-weight: 900;
  padding: 5px 5px 0px 5px;
  border-radius: 3px;
}

#see-final {
  transition: 0.3s all;
  border: 1px solid #3f47f5;
  color: #3f47f5;
  background-color: white;
  padding: 10px 25px 8px 25px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03),
    0 5px 10px rgba(0, 0, 0, 0.01);
}

#see-final:hover {
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05),
    0 10px 30px rgba(0, 0, 0, 0.03);
}

.top-space-h5 {
  padding-top: 15px;
}

.content-box {
  background: #545AF7;
  border: 1px solid #dadada;
  padding: 50px 50px 0px 50px;
  border-radius: 3px;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.03);
}

.content-box>* {
  color: white;
}

.medium-block {
  border-radius: 3px;
  border: 1px solid white;
  transition: 0.3s all;
  /* padding:150px;
position: absolute; */
}

.medium-block:hover {
  border: 1px solid #dadada;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.03);
}

#the-problem-pitch {
  background-color: #5459f7;
  background-image: linear-gradient(180deg, #5459f7 51%, #b554f7 100%);
}

#the-response-pitch {
  background-color: #B554F7;
}

#the-brief-microsoft {
  background-color: #f18116;
  background-image: linear-gradient(0deg, #D83A32 0%, #d83a32 28%);
}

#the-response-microsoft {
  background-color: #D83A32;
}

.half-header {
  width: 50vw;
}

.video-grid>p {
  font-size: 20px;
  line-height: 1.3em;
}

.project-header-content>* {
  color: white;
}

.project-header-content>p {
  font-size: 24px;
  line-height: 1.5em;
  text-align: left;
}

.dark-section {
  background-color: black;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

.dark-section h2 {
  color: white;
}

.var {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
}

.grid-container {
  padding-top: 50px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Image-1 Image-3 Image-3""Image-2 Image-3 Image-3";
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serif {
  font-family: 'Lora', serif;
}

.heavy {
  font-weight: 900;
  /* font-family: 'Lora', serif; */
  text-transform: uppercase;
  font-size: 15px;
}

.Image-1 {
  grid-area: Image-1;
}

.Image-2 {
  grid-area: Image-2;
}

.Image-3 {
  grid-area: Image-3;
}

.Image-1 {
  grid-area: Image-1;
}

.Image-2 {
  grid-area: Image-2;
}

.Image-3 {
  grid-area: Image-3;
}

#header-underline {
  /* color: #fff;
  text-decoration: none;
  border-bottom: none;
  background-image: url(https://theoutline.com/svg/sq/h?c=FB6754&a=4&f=5&sw=1&anim=true);
  background-position: 0 calc(100% - 1.5px);
  background-size: auto 3px;
  background-repeat: repeat-x;
  padding-bottom: 3px; */
  transition: all 0.3s;
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 1.2em;
  background-size: auto 4px;
  background-repeat: repeat-x;
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
}

#header-underline:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.scroll-down {
  position: absolute;
  /* left: 50%; */
  bottom: 0px;
  display: block;
  text-align: center;
  font-size: 10px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, 15px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 25px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, 15px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 25px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, 15px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 25px) rotate(45deg);
    opacity: 0;
  }
}

.opportunity-header {
  height: 400px;
  width: 100vw;
  background-color: #D83A32;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.opportunity-header-content {
  max-width: 700px;
  color: white !important;
}

.opportunity-header-content>h3 {
  color: white;
}

.opportunity-header-content>img {
  width: 100px;
  background: none;
}

.project-header h2 {
  font-weight: 400;
  transform: translateY(-40px);
  color: white;
}

.project-header {
  height: 100vh;
  width: 100vw;
  background-color: #D83A32;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.project-header-content {
  max-width: 960px;
}

.project-header-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
  width:50vw;
  display: inline-block;
  justify-content: center;
  align-items: center;

  text-align:center; */
}

.project-header-half-content {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 75px;
  height: 100vh;
}

.project-header-half-content>p {
  font-size: 24px;
  line-height: 1.5em;
}

.vertical-line {
  z-index: 100000;
  border-left: 6px solid white;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#divider-dotted {
  width: 50px;
  border-bottom: 10px dotted var(--border-gray);
  border-top: none;
  padding-top: 100px;
}

.full-width {
  width: 100vw;
  margin-left: calc(-50vw + 75%);
  border: 2px solid green;
}

.single-post {
  position: relative;
  clear: both;
  z-index: 2;
  /* margin-top  : 100px; */
  /* background-color: #795548; */
  /* color       : #689270; */
  overflow: hidden;
  font-size: 16px;
  line-height: 1.9em;
}

.post-header {
  font-size: 2.3rem;
  /* color:black; */
}

.single-post-head {
  position: relative;
  padding: 22vh 20px 10vh;
  text-align: center;
  /* color:white; */
}

.single-post-head p {
  font-size: 16px;
  /* color:white; */
}

.video-responsive {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 3px;
  /* pointer-events : none; */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events : none; */
}

.caption {
  padding-top: 10px;
  text-align: center;
  font-size: .9em;
  color: #757474 !important;
}

.caption i {
  color: #b8bdbf;
}

.text-uppercase {
  margin-bottom: 0px;
  color: #5b657a;
  text-transform: uppercase;
  font-size: .65rem;
  font-weight: 500;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff5722;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.gallery {
  margin-bottom: 50px;
}

.image-crop {
  width: 100%;
  height: 350px;
  min-height: 350px;
  max-height: 350px;
  margin-bottom: 25px;
  border-radius: 3px;
  object-fit: cover;
}

.image-crop-thumb {
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
  padding: 15px 0px 15px 0px;
  opacity: .6;
  border-radius: 3px;
  border-radius: 3px;
  transition: all 0.3s;
  object-fit: cover;
}

.image-crop-thumb:hover {
  opacity: 1;
  cursor: pointer;
}

.image-crop-expanded {
  width: 100%;
  height: 400px;
  /* padding       : 15px 15px 0px 15px; */
  border-radius: 3px;
  object-fit: cover;
}

.image-crop-headers {
  width: 100%;
  height: 450px;
  min-height: 350px;
  max-height: 450px;
  margin-bottom: 25px;
  border-radius: 3px;
  object-fit: cover;
}

.image-crop-full {
  width: 100%;
  height: 450px;
  min-height: 350px;
  max-height: 450px;
  margin-bottom: 25px;
  border-radius: 3px;
  object-fit: cover;
}

.image-crop-mason {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 3px;
  object-fit: cover;
}

.portfolio {
  text-align: left;
}

.portfolio a:focus {
  box-shadow: none;
}

.portfolio h5 {
  color: var(--body-color);
  font-weight: 400;
}

.portfolio img {
  width: 100%;
  /* max-height    : 500px; */
  border-radius: 3px;
  /* margin-bottom: 75px; */
}

.gallery-thumbs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.thumb {
  height: 150px;
  margin-bottom: 0px;
  object-fit: contain;
}

.small-img {
  width: 125px !important;
}

.small-graphics {
  padding: 35px;
  border: 2px solid var(--border-gray);
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.03);
  text-align: center;
  transition: all 0.2s;
}

.small-graphics:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05),
    0 3px 6px rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.small-graphics h4 {
  margin: 0px !important;
  padding-top: 20px;
  color: #d46242;
  font-size: 24px;
}

.small-header {
  font-size: 22px;
  font-weight: 500;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--red-text);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--red-text);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.smaller-margin {
  margin-bottom: 7px;
}

.margin-correct {
  margin-bottom: -7px;
}

.grid {
  display: grid;
  max-width: 985px;
  margin-bottom: 50px;
  grid-gap: 1.5em;
  grid-template-columns: 2fr 3fr;
}

.grid-padded {
  display: grid;
  max-width: 985px;
  margin-bottom: 50px;
  padding-top: 50px;
  grid-gap: 1.5em;
  grid-template-columns: 2fr 3fr;
  /* grid-auto-rows: 2em; */
}

.grid-blogpost {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-bottom: 150px;
}

.grid-blogpost>h4 {
  padding-top: 0px !important;
}

.grid-1 {
  display: grid;
  max-width: 675px;
  margin: 0 auto;
  /* padding-bottom         : 36px; */
  padding-top: 72px;
  align-self: center;
  /* grid-gap              : 1.5em; */
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  margin-bottom: 18px;
  padding-top: 50px;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: 2em; */
}

.grid-2-embed {
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: .1em solid var(--border-gray);
  display: grid;
  margin-bottom: 18px;
  padding: 25px;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: 2em; */
}

.grid-2-embed:hover {
  border: .1em solid var(--red-text);
}

.grid-3 {
  display: grid;
  margin-bottom: 18px;
  padding-top: 50px;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-2 {
  display: grid;
  margin-bottom: 150px;
  padding-top: 35px;
  grid-gap: 2em;
  grid-template-columns: 3fr 2fr;
}

.text-overlay {
  font-family: var(--header-font);
  font-size: 1.3rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature {
  text-align: center;
}

.feature>h4 {
  margin: 20px 0px 10px 0px;
}

.feature>p {
  line-height: 1.3em;
}

.feature-icon {
  height: 100px;
  max-width: 150px;
  background-color: none;
  background: none;
  user-select: none;
  pointer-events: none;
}

.blog-date {
  transform: translateY(4px);
}

.fa-arrow-right {
  font-size: 20px;
  padding-left: 10px;
  color: var(--red-text);
}

.embedded-image {
  border-radius: 3px;
  padding-top: 25px;
  padding-bottom: 75px;
}

.embedded-image-less-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.recent-photo>.image-crop {
  margin: 0px;
}

/* .writing > h4{
  margin: 10px 0px 5px 0px;
} */
.writing>h4 {
  margin: 0px auto !important;
  padding: 0px !important;
}

.writing {
  /* border-top: 1px solid gray; */
  border-bottom: .1rem solid #e1e0e4;
  padding: 60px 0px 60px 0px;
}

.award {
  font-weight: 500;
  margin-top: 35px;
  text-align: center;
  border: .1rem solid #e1e0e4;
  padding: 25px 75px 25px 75px;
  border-radius: 3px;
}

.award i {
  color: var(--red-text);
  font-size: 2em;
}

.video-responsive {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 3px;
  /* pointer-events : none; */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events : none; */
}

/* The Masonry Container */
.masonry {
  /* margin: 1.5em auto; */
  max-width: 100%;
  padding-top: .9em;
  /* column-gap: 1.5em; */
}

/* The Masonry Brick */
.item {
  margin: 0 0 -.5em;
  /* background : #fff; */
  /* padding: 1em; */
}

@media (max-width : 748px) {
  .grid-2-embed {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .project-header-content h2 {
    transform: translateY(0px);
    font-size: 22px;
  }

  h2 {
    line-height: 1.45em !important
  }
}

/* Masonry on large screens */
@media only screen and (min-width : 1024px) {
  .masonry {
    column-count: 2;
  }

  #content-box-1 {
    transform: translateY(-50px);
  }

  #content-box-2 {
    transform: translateY(50px);
  }
}

/* Masonry on large screens */
@media only screen and (min-width : 1068px) {
  .nav {
    padding-left: 15px;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width : 1023px) and (min-width : 768px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width : 767px) and (min-width : 540px) {
  .masonry {
    column-count: 2;
  }
}

.sidebar {
  /* position: -webkit-sticky; */
  position: fixed;
  margin-left: 0px;
  top: 124px;
  position: fixed;
  max-width: 200px;
  z-index: 200;
  /* right:250px; */
}

.gallery-thumbs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.thumb {
  height: 150px;
  margin-bottom: 0px;
  object-fit: contain;
}

.small-img {
  width: 125px !important;
}

.project-info {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

#overview:before {
  transform: translateX(-30px);
  /* content:"🥽"; */
  position: absolute;
}
