/* OLIVER ENGEL PORTFOLIO */

/* BUILT BY ME */


:root {
  --header-font        : "IBM Plex Sans";
  --header-font-weight : 500;
  --header-color       : #000;
  --body-font          : "IBM Plex Sans";
  --body-font-weight   : 400;
  --body-color         : #000;
  --purple             : #302ecd;
  --light-purple       : #EBEAFB;
  --dark-gray          : #2d2f32;
  --sidebar-text       : #61606b;
  --nav-links          : #9CA6B6;
  --green              : #0bb167;
  --green-text         : #019a56;
  --logo-color         : #10c172;
  --hover-text         : #302ecd;
  --light-gray-text    : #667189;
  --yellow             : #989615;
  --light-yellow       : #F4F3D9;
}

/* FONTS */

html {
  box-sizing                  : border-box;
  -ms-text-size-adjust        : 100%;
  -webkit-text-size-adjust    : 100%;
  font-size                   : 20px;
  -webkit-font-smoothing      : antialiased;
  -moz-osx-font-smoothing     : grayscale;
  line-height                 : 1.5;
  -webkit-tap-highlight-color : transparent;
}

body {
  color                   : var(--body-color);
  overflow-x              : hidden;
  background              : #fff;
  font-family             : var(--body-font),
                            sans-serif;
  font-size               : 18px;
  font-weight             : var(--body-font-weight);
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

ol{

}

a {
  color           : var(--green-text);
  outline         : none;
  text-decoration : none;
}

a:focus {
  /* box-shadow : 0 0 0 .1rem rgba(1, 154, 86, .2); */
}

a.active,
a:active,
a:focus,
a:hover {
  color           : var(--green-text);
  text-decoration : underline;
}

.ani a:hover{
  text-decoration : none !important;
}

a:visited {
  color : var(--green-text);
  /* old: #807fe2; */
}

.button-green a:visited{
  color:white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top     : 0;
  margin-bottom  : .5em;
  color          : var(--header-color);
  font-family    : var(--header-font),
                   sans-serif;
  font-weight    : var(--header-font-weight);
  font-weight    : var(--header-font-weight);
  line-height    : 1.2;
  letter-spacing : -.02em;
}

h1 {
  margin-top : 0;
  font-size  : 3.052em;
}

h2 {
  color     : var(dark-gray);
  font-size : 1.953em;
}

h3 {
  color     : var(dark-gray);
  font-size : 1.563em;
}

h4 {
  font-size : 1.25em;
  line-height:1.6em;
}

h5 {
  font-size : 1em;
}

h6 {
  font-size : .8rem;
}

p {
  margin-top:0px;
  line-height : 1.5rem;
}

li {
  padding-bottom:15px;
}


.btn {
  padding-left        : 15px;
  padding-right       : 15px;
  display             : inline-block;
  -moz-appearance     : none;
  -webkit-appearance  : none;
  appearance          : none;
  height              : 1.8rem;
  padding             : .25rem .8rem;
  color           : #fff;
  border-color    : var(--green);
  background      : var(--green);
  /* border              : .05rem solid var(--green); */
  border-radius       : .1rem;

  outline             : none;
  text-align          : center;
  text-decoration     : none;
  vertical-align      : middle;
  font-size           : .8rem;
  line-height         : 1.2rem;
  white-space         : nowrap;
  transition          : all .2s ease;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -webkit-user-select : none;
  user-select         : none;
  cursor              : pointer;
}

.btn a:visited{
  color:white;
}

.btn:focus {
  box-shadow : 0 0 0 .1rem rgba(87, 85, 217, .2);
}

.btn:focus,
.btn:hover {
  color           : #fff;
  border-color    : var(--green);
  background      : #007943;
  text-decoration : none;
}

.btn.active,
.btn:active {
  color           : #fff;
  border-color    : var(--green);
  background      : var(--green);
  text-decoration : none;
}

.btn.btn-primary {
  color        : #fff;
  border-color : #4b48d6;
  background   : #5755d9;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color        : #fff;
  border-color : #3634d2;
  background   : #4240d4;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  color        : #fff;
  border-color : #302ecd;
  background   : #3a38d2;
}

.btn.btn-primary.loading::after {
  border-bottom-color : #fff;
  border-left-color   : #fff;
}

.btn.btn-link {
  color        : #5755d9;
  border-color : transparent;
  background   : transparent;
}

.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
  color : #302ecd;
}

.btn.btn-sm {
  height    : 1.4rem;
  padding   : .05rem .3rem;
  font-size : .7rem;
}

.btn.btn-lg {
  height    : 2rem;
  padding   : .35rem .6rem;
  font-size : .9rem;
}

.btn.btn-block {
  display : block;
  width   : 100%;
}

.btn.btn-action {
  width         : 1.8rem;
  padding-right : 0;
  padding-left  : 0;
}

.btn.btn-action.btn-sm {
  width : 1.4rem;
}

.btn.btn-action.btn-lg {
  width : 2rem;
}

.btn.btn-clear {
  width           : .8rem;
  height          : .8rem;
  margin-right    : -2px;
  margin-left     : .2rem;
  padding         : 0;
  color           : currentColor;
  opacity         : 1;
  border          : 0;
  background      : transparent;
  text-decoration : none;
  line-height     : .8rem;
}

.btn.btn-clear:hover {
  opacity : .95;
}

.btn.btn-clear::before {
  content : "\2715";
}

.btn-noclick {
  display            : inline-block;
  -moz-appearance    : none;
  -webkit-appearance : none;
  appearance         : none;
  height             : 1.8rem;
  padding            : .25rem .4rem;
  border             : .05rem solid #fff;
  border-radius      : .1rem;
  background         : #fff;
  outline            : none;
  text-align         : center;
  text-decoration    : none;
  vertical-align     : middle;
  font-size          : .8rem;
  line-height        : 1.2rem;
  white-space        : nowrap;
  transition         : all .2s ease;
  user-select        : text;
  cursor             : text;
}

.container {
  display : grid;
  width   : 100%;
}

.navbar {
  display         : flex;
  display         : -ms-flexbox;
  align-items     : stretch;
  -ms-flex-align  : stretch;
  -ms-flex-pack   : justify;
  -ms-flex-wrap   : wrap;
  flex-wrap       : wrap;
  justify-content : space-between;
}

.chip {
  display         : inline-flex;
  display         : -ms-inline-flexbox;
  max-width       : 100%;
  height          : 1.3rem;
  margin-right    : .1rem;
  margin-bottom   : .5rem;
  padding         : 1em 1em;
  color           : #667189;
  border-radius   : 5rem;
  background      : #f0f1f4;
  text-decoration : none;
  vertical-align  : middle;
  align-items     : center;
  font-size       : 90%;
  -ms-flex-align  : center;
  line-height     : .8rem;
}

.chip.active {
  color      : #fff;
  background : var(--green);
}

.logo{
  color:#10c172 !important;
}

.logo:focus{
  display:none;
}

.divider {
  max-width  : 985px;
  height     : .05rem;
  margin     : .4rem 0;
  border-top : .05rem solid #e7e9ed;
}

/* DOCS SHIT */

.nav {
  z-index       : 1;
  position      : fixed;
  top           : 0;
  left          : 0;
  width         : 100%;
  /* border-bottom : 2px solid #eee; */
  background    : #fff;
  font-size     : .85rem;
}

.nav-container {
  max-width       : 1000px;
  margin          : auto;
  /* padding         : 0 15px; */
  -ms-flex-pack   : justify;
  -ms-flex-wrap   : wrap;
  flex-wrap       : wrap;
  justify-content : space-between;
}

.nav .nav-container {
  display        : flex;
  height         : 70px;
  align-items    : center;
  -ms-flex-align : center;
}

.links a {

  transition: 0.3s;
  padding     : 15px;
  font-weight : bold;
  color: var(--nav-links);
  letter-spacing: .03em
}

.links a:hover {

  transition: 0.3s;
  border-radius    : 3px;
  color: var(--green);
  /* background-color : #10c172; */
  text-decoration  : none;
}



.name-logo a {
  font-weight: bold;
  text-decoration: none;
}

.name-logo a:hover{

text-decoration: none !important;
}

.name-logo:hover{
  text-decoration: none;
}

.page-content {
  display               : grid;
  margin                : 0 45px;
  padding-top           : 45px;
  grid-template-columns : 1fr;
}

.page-content > .container {
  max-width : 985px;
  margin    : 0 auto;
}

.block-text{
  background-color: var(--light-yellow);
  padding: 25px 35px 20px 35px;
  border-radius: 3px;
}

@media
  (max-width : 1076px) {
    .nav-container{
      padding: 0 15px;
    }
}

@media
  (max-width : 600px) {
  .page-content {
    margin : 0 15px;
  }

  .nav-container {
    padding : 0 15px;
  }
}

#jump-to{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  margin-top: 15px;
  color: var(--light-gray-text);
  font-weight: var(--header-font-weight);
  font-size : 1.25em;
  line-height:1.6em;
}
#jump-to:hover{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  text-decoration: none;
  color: var(--yellow) !important;
}

.hover-underline-animation {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff5722;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* SETUP SHIT DOWN HERE DONT BOTHER MESSING WITH IT */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/**
 * Document
 * ==========================================================================
 */

html {
  -webkit-text-size-adjust : 100%;
  line-height              : 1.15;
  /* 1 */
  /* 2 */
}

/**
 * Sections
 * ==========================================================================
 */

body {
  margin : 0;
}

main {
  display : block;
}

h1 {
  margin    : 0.67em 0;
  font-size : 2em;
}

/**
 * Grouping content
 * ==========================================================================
 */

hr {
  box-sizing : content-box;
  height     : 0;
  overflow   : visible;
  /* 1 */
  /* 1 */
  /* 2 */
}

pre {
  font-family : monospace,
                monospace;
  font-size   : 1em;
  /* 1 */
  /* 2 */
}

/**
 * Text-level semantics
 * ==========================================================================
 */

a {
  background-color : transparent;
}

abbr[title] {
  border-bottom   : none;
  text-decoration : underline;
  text-decoration : underline dotted;
  /* 1 */
  /* 2 */
  /* 2 */
}

b,
strong {
  font-weight : bolder;
}

code,
kbd,
samp {
  font-family : monospace,
                monospace;
  font-size   : 1em;
  /* 1 */
  /* 2 */
}

small {
  font-size : 80%;
}

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

sub {
  bottom : -0.25em;
}

sup {
  top : -0.5em;
}

/**
 * Embedded content
 * ==========================================================================
 */

img {
  border-style : none;
}

/**
 * Forms
 * ==========================================================================
 */

button,
input,
optgroup,
select,
textarea {
  margin      : 0;
  font-family : inherit;
  font-size   : 100%;
  line-height : 1.15;
  /* 1 */
  /* 1 */
  /* 1 */
  /* 2 */
}

button,
input {
  /* 1 */
  overflow : visible;
}

button,
select {
  /* 1 */
  text-transform : none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance : button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding      : 0;
  border-style : none;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline : 1px dotted ButtonText;
}

fieldset {
  padding : 0.35em 0.75em 0.625em;
}

legend {
  display     : table;
  box-sizing  : border-box;
  max-width   : 100%;
  padding     : 0;
  color       : inherit;
  white-space : normal;
  /* 1 */
  /* 2 */
  /* 1 */
  /* 1 */
  /* 3 */
  /* 1 */
}

progress {
  vertical-align : baseline;
}

textarea {
  overflow : auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing : border-box;
  padding    : 0;
  /* 1 */
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height : auto;
}

[type="search"] {
  -webkit-appearance : textfield;
  outline-offset     : -2px;
  /* 1 */
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance : none;
}

::-webkit-file-upload-button {
  -webkit-appearance : button;
  font               : inherit;
  /* 1 */
  /* 2 */
}

/**
 * Interactive
 * ==========================================================================
 */

details {
  display : block;
}

summary {
  display : list-item;
}

template {
  display : none;
}

[hidden] {
  display : none;
}
