/*   OLIVER ENGEL PORTFOLIO   */
/*   BUILT ON SPECTRE CSS     */


@font-face {
  font-family : 'Circular Std Book';
  font-style  : normal;
  font-weight : normal;
  src         : url('../fonts/CircularStd-Book.woff2') format('woff2'),
                url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family : 'Circular Std';
  font-style  : normal;
  font-weight : 500;
  src         : url('../fonts/CircularStd-Medium.woff2') format('woff2'),
                url('../fonts/CircularStd-Medium.woff') format('woff');
}

:root {
  --header-font : "Circular Std Book";
  --body-font   : "Circular Std Book";
  --purple      : #302ecd;
  --dark-gray   : #2d2f32;
}

/* FONTS */

html {
  box-sizing                  : border-box;
  -ms-text-size-adjust        : 100%;
  -webkit-text-size-adjust    : 100%;
  font-size                   : 20px;
  -webkit-font-smoothing      : antialiased;
  -moz-osx-font-smoothing     : grayscale;
  line-height                 : 1.5;
  -webkit-tap-highlight-color : transparent;
  /* 3 */
  /* 3 */
}

body {
  color                   : #50596c;
  overflow-x              : hidden;
  background              : #fff;
  font-family             : var(--body-font),
                            sans-serif;
  font-size               : 18px;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

a {
  color           : var(--purple);
  outline         : none;
  text-decoration : none;
}

a:focus {
  box-shadow : 0 0 0 .1rem rgba(87, 85, 217, .2);
}

a.active,
a:active,
a:focus,
a:hover {
  color           : var(--purple);
  text-decoration : underline;
}

a:visited {
  color : var(--purple);
  /* old: #807fe2; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top     : 0;
  margin-bottom  : .5em;
  font-weight    : 500;
  line-height    : 1.2;
  letter-spacing : -.02em;
}

h1 {
  font-size : 2rem;
}

h2 {
  color     : var(dark-gray);
  font-size : 1.6rem;
}

h3 {
  color     : var(dark-gray);
  font-size : 1.3rem;
}

h4 {
  font-size : 1.2rem;
}

h5 {
  font-size : 1rem;
}

h6 {
  font-size : .8rem;
}

p {
  line-height : 1.5rem;
}

.btn {
  display             : inline-block;
  -moz-appearance     : none;
  -webkit-appearance  : none;
  appearance          : none;
  height              : 1.8rem;
  padding             : .25rem .4rem;
  color               : #5755d9;
  border              : .05rem solid #5755d9;
  border-radius       : .1rem;
  background          : #fff;
  outline             : none;
  text-align          : center;
  text-decoration     : none;
  vertical-align      : middle;
  font-size           : .8rem;
  line-height         : 1.2rem;
  white-space         : nowrap;
  transition          : all .2s ease;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -webkit-user-select : none;
  user-select         : none;
  cursor              : pointer;
}

.btn:focus {
  box-shadow : 0 0 0 .1rem rgba(87, 85, 217, .2);
}

.btn:focus,
.btn:hover {
  border-color    : #4b48d6;
  background      : #f1f1fc;
  text-decoration : none;
}

.btn.active,
.btn:active {
  color           : #fff;
  border-color    : #3634d2;
  background      : #4b48d6;
  text-decoration : none;
}

.btn.btn-primary {
  color        : #fff;
  border-color : #4b48d6;
  background   : #5755d9;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color        : #fff;
  border-color : #3634d2;
  background   : #4240d4;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  color        : #fff;
  border-color : #302ecd;
  background   : #3a38d2;
}

.btn.btn-primary.loading::after {
  border-bottom-color : #fff;
  border-left-color   : #fff;
}

.btn.btn-link {
  color        : #5755d9;
  border-color : transparent;
  background   : transparent;
}

.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
  color : #302ecd;
}

.btn.btn-sm {
  height    : 1.4rem;
  padding   : .05rem .3rem;
  font-size : .7rem;
}

.btn.btn-lg {
  height    : 2rem;
  padding   : .35rem .6rem;
  font-size : .9rem;
}

.btn.btn-block {
  display : block;
  width   : 100%;
}

.btn.btn-action {
  width         : 1.8rem;
  padding-right : 0;
  padding-left  : 0;
}

.btn.btn-action.btn-sm {
  width : 1.4rem;
}

.btn.btn-action.btn-lg {
  width : 2rem;
}

.btn.btn-clear {
  width           : .8rem;
  height          : .8rem;
  margin-right    : -2px;
  margin-left     : .2rem;
  padding         : 0;
  color           : currentColor;
  opacity         : 1;
  border          : 0;
  background      : transparent;
  text-decoration : none;
  line-height     : .8rem;
}

.btn.btn-clear:hover {
  opacity : .95;
}

.btn.btn-clear::before {
  content : "\2715";
}

.btn-group {
  display       : inline-flex;
  display       : -ms-inline-flexbox;
  -ms-flex-wrap : wrap;
  flex-wrap     : wrap;
}

.btn-group .btn {}

.btn-group .btn:first-child:not(:last-child) {
  border-top-right-radius    : 0;
  border-bottom-right-radius : 0;
}

.btn-group .btn:not(:first-child):not(:last-child) {
  margin-left   : -.05rem;
  border-radius : 0;
}

.btn-group .btn:last-child:not(:first-child) {
  margin-left               : -.05rem;
  border-top-left-radius    : 0;
  border-bottom-left-radius : 0;
}

.btn-group .btn.active,
.btn-group .btn:active,
.btn-group .btn:focus,
.btn-group .btn:hover {
  z-index : 1;
}

.btn-group.btn-group-block .btn {}

.btn-noclick {
  display            : inline-block;
  -moz-appearance    : none;
  -webkit-appearance : none;
  appearance         : none;
  height             : 1.8rem;
  padding            : .25rem .4rem;
  border             : .05rem solid #fff;
  border-radius      : .1rem;
  background         : #fff;
  outline            : none;
  text-align         : center;
  text-decoration    : none;
  vertical-align     : middle;
  font-size          : .8rem;
  line-height        : 1.2rem;
  white-space        : nowrap;
  transition         : all .2s ease;
  user-select        : text;
  cursor             : text;
  /* color: #5755d9; */
}

.container {
  width         : 100%;
  margin-right  : auto;
  margin-left   : auto;
  padding-right : .4rem;
  padding-left  : .4rem;
}

.navbar {
  display         : flex;
  display         : -ms-flexbox;
  align-items     : stretch;
  -ms-flex-align  : stretch;
  -ms-flex-pack   : justify;
  -ms-flex-wrap   : wrap;
  flex-wrap       : wrap;
  justify-content : space-between;
}

.navbar .navbar-section {
  display     : flex;
  display     : -ms-flexbox;
  align-items : center;
}

.navbar .navbar-section:not(:first-child):last-child {
  -ms-flex-pack   : end;
  justify-content : flex-end;
}

.navbar .navbar-center {
  display     : flex;
  display     : -ms-flexbox;
  align-items : center;
}

.navbar .navbar-brand {
  text-decoration : none;
  font-size       : .9rem;
  font-weight     : 500;
}

.accordion[open] .accordion-header .icon,
.accordion input:checked ~ .accordion-header .icon {
  transform : rotate(90deg);
}

.accordion[open] .accordion-body,
.accordion input:checked ~ .accordion-body {
  max-height : 50rem;
}

.accordion .accordion-header {
  display : block;
  padding : .2rem .4rem;
}

.accordion .accordion-header .icon {
  transition : all .2s ease;
}

.accordion .accordion-body {
  max-height    : 100%;
  margin-bottom : .4rem;
  transition    : max-height .2s ease;
  /* overflow: hidden; */
}

summary.accordion-header::-webkit-details-marker {
  display : none;
}

.chip {
  display         : inline-flex;
  display         : -ms-inline-flexbox;
  max-width       : 100%;
  height          : 1.2rem;
  margin-right    : .1rem;
  margin-bottom   : .5rem;
  padding         : .2rem .4rem;
  color           : #667189;
  border-radius   : 5rem;
  background      : #f0f1f4;
  text-decoration : none;
  vertical-align  : middle;
  align-items     : center;
  font-size       : 90%;
  -ms-flex-align  : center;
  line-height     : .8rem;
}

.chip.active {
  color      : #fff;
  background : #5755d9;
}

.menu {
  z-index    : 300;
  min-width  : 180px;
  margin     : 0;
  padding    : .4rem;
  list-style : none;
  transform  : translateY(.2rem);
}

.menu .menu-item {
  margin-top          : 0;
  padding             : 0 .4rem;
  text-decoration     : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -webkit-user-select : none;
  user-select         : none;
}

.menu .menu-item > a {
  display         : block;
  margin          : 0 -.4rem;
  padding         : .2rem .4rem;
  padding-left    : 1rem;
  color           : inherit;
  border-radius   : .1rem;
  text-decoration : none;
}

.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  color      : #5755d9;
  background : #f1f1fc;
}

.menu .menu-item > a.active,
.menu .menu-item > a:active {
  color      : #5755d9;
  background : #f1f1fc;
}


.divider {
  height     : .05rem;
  margin     : .4rem 0;
  border-top : .05rem solid #e7e9ed;
  max-width : 985px;
}





/* SETUP SHIT DOWN HERE DONT BOTHER MESSING WITH IT */

/**
 * Sections
 * ==========================================================================
 */

/* Remove the margin in all browsers (opinionated). */

body {
  margin : 0;
}

/* Add the correct display in IE 9-. */

article,
aside,
footer,
header,
nav,
section {
  display : block;
}

header {
  padding-bottom : 3rem;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  margin    : .67em 0;
  font-size : 2em;
}

/**
 * Grouping content
 * ==========================================================================
 */

/* Add the correct display in IE 9-. 1. Add the correct display in IE. */

figcaption,
figure,
main {
  /* 1 */
  display : block;
}

/* Add the correct margin in IE 8 (removed). */

/**
 * 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and
 * IE.
 */

hr {
  box-sizing : content-box;
  height     : 0;
  overflow   : visible;
  /* 1 */
  /* 1 */
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * (removed) 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Text-level semantics
 * ==========================================================================
 */

/**
 * 1. Remove the gray background on active links in IE 10. 2. Remove gaps in
 * links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color : transparent;
  /* 1 */
}

/**
 * Remove the outline on focused links when they are also active or hovered in
 * all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width : 0;
}

/* Modify default styling of address. */

address {
  font-style : normal;
}

/**
 * 1. Remove the bottom border in Firefox 39-. 2. Add the correct text
 * decoration in Chrome, Edge, IE, Opera, and Safari. (removed)
 */

/* Prevent the duplicate application of `bolder` by the next rule in Safari 6. */

b,
strong {
  font-weight : inherit;
}

/* Add the correct font weight in Chrome, Edge, and Safari. */

b,
strong {
  font-weight : bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers. 2.
 * Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family : "SF Mono",
                "Segoe UI Mono",
                "Roboto Mono",
                Menlo,
                Courier,
                monospace;
  font-size   : 1em;
  /* 1 (changed) */
  /* 2 */
}

/* Add the correct font style in Android 4.3-. */

dfn {
  font-style : italic;
}

/* Add the correct background and color in IE 9-. (Removed) */

/* Add the correct font size in all browsers. */

small {
  font-size   : 80%;
  font-weight : 400;
  /* (added) */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all
 * browsers.
 */

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

sub {
  bottom : -.25em;
}

sup {
  top : -.5em;
}

/**
 * Embedded content
 * ==========================================================================
 */

/* Add the correct display in IE 9-. */

audio,
video {
  display : inline-block;
}

/* Add the correct display in iOS 4-7. */

audio:not([controls]) {
  display : none;
  height  : 0;
}

/* Remove the border on images inside links in IE 10-. */

img {
  border-style : none;
}

/* Hide the overflow in IE. */

svg:not(:root) {
  overflow : hidden;
}

/**
 * Forms
 * ==========================================================================
 */

/**
 * 1. Change the font styles in all browsers (opinionated). 2. Remove the margin
 * in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  margin      : 0;
  font-family : inherit;
  font-size   : inherit;
  line-height : inherit;
  /* 1 (changed) */
  /* 1 (changed) */
  /* 1 (changed) */
  /* 2 */
}

/* Show the overflow in IE. 1. Show the overflow in Edge. */

button,
input {
  /* 1 */
  overflow : visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove
 * the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform : none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 * controls in Android 4. 2. Correct the inability to style clickable types in
 * iOS and Safari.
 */

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance : button;
  /* 2 */
}

/* Remove the inner border and padding in Firefox. */

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding      : 0;
  border-style : none;
}

/* Restore the focus styles unset by the previous rule (removed). */

/**
 * Change the border, margin, and padding in all browsers (opinionated)
 * (changed).
 */

fieldset {
  margin  : 0;
  padding : 0;
  border  : 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance
 * from `fieldset` elements in IE. 3. Remove the padding so developers are not
 * caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
  display     : table;
  box-sizing  : border-box;
  max-width   : 100%;
  padding     : 0;
  color       : inherit;
  white-space : normal;
  /* 1 */
  /* 2 */
  /* 1 */
  /* 1 */
  /* 3 */
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-. 2. Add the correct vertical alignment in
 * Chrome, Firefox, and Opera.
 */

progress {
  display        : inline-block;
  vertical-align : baseline;
  /* 1 */
  /* 2 */
}

/* Remove the default vertical scrollbar in IE. */

textarea {
  overflow : auto;
}

/* 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */

[type="checkbox"],
[type="radio"] {
  box-sizing : border-box;
  padding    : 0;
  /* 1 */
  /* 2 */
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height : auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline
 * style in Safari.
 */

[type="search"] {
  -webkit-appearance : textfield;
  outline-offset     : -2px;
  /* 1 */
  /* 2 */
}

/* Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance : none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari. 2.
 * Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance : button;
  font               : inherit;
  /* 1 */
  /* 2 */
}

/**
 * Interactive
 * ==========================================================================
 */

/**
 * Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and
 * Firefox.
 */

details,
menu {
  display : block;
}

/* Add the correct display in all browsers. */

summary {
  display : list-item;
  outline : none;
}

/**
 * Scripting
 * ==========================================================================
 */

/* Add the correct display in IE 9-. */

canvas {
  display : inline-block;
}

/* Add the correct display in IE. */

template {
  display : none;
}

/**
 * Hidden
 * ==========================================================================
 */

/* Add the correct display in IE 10-. */

[hidden] {
  display : none;
}

*,
*::after,
*::before {
  box-sizing : inherit;
}
