@font-face {
    font-family: 'Fakt Pro Normal';
    src: url('FaktPro-Normal.woff2') format('woff2'),
        url('FaktPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt Pro';
    src: url('FaktPro-Black.woff2') format('woff2'),
        url('FaktPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

