@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Medium.woff2') format('woff2'),
        url('InterUI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Regular.woff2') format('woff2'),
        url('InterUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

