<section class="nav-wrapper">
  <nav>
    <a href="/" {% if page.url == "/" %}class="active" {% endif %}>Home</a>
    <section>
      <a id="dropdown-toggle" {% if page.url contains "/work"  %}class="active" {% endif %}>Work <i id="chevron" class="fas fa-chevron-down"></i></a>
      <a href="/words" {% if page.url contains "/words"%}class="active" {% endif %}>Writing</a>
      <a href="/about" {% if page.url contains "/about"%}class="active" {% endif %}>About</a>
    </section>
    <a data-micromodal-trigger="contact-modal" >Say Hi</a>

  </nav>
</section>

<section class="dropdown-menu">

  {% assign sorted_pages = site.pages | sort:"order" | where: "layout","project" %}
  {% for page in sorted_pages %}

  <a href="{{page.url}}" <div>
    <img src="{{page.hero}}">
    <p>{{page.title}}</p>
    </div>
  </a>



  {% endfor %}

</section>

<div id="focus-overlay"></div>


<div class="modal micromodal-slide" id="contact-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h3 style="color:black">My inbox is open!</h3>
        <!-- <button class="modal__close" aria-label="Close modal" data-micromodal-close></button> -->
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>Shoot an email on over to oliverengel6@gmail.com. Happy to chat side projects, job opportunities, or just about anything else.
        </p>
        <div class="spacer-8x"></div>
        <div style="display: flex; justify-content:space-between">
          <div>
            <button id="copy-email" ><i class="fas fa-copy"></i> Copy Email</button>
            <button onclick="location.href='https://www.linkedin.com/in/oengel/';" class="secondary-button"><i class="fab fa-linkedin"></i> LinkedIn</button>
          </div>
          <button class="secondary-button" autofocus data-micromodal-close>Close</button>
        </div>

      </main>

    </div>
  </div>
</div>


<script>
  $('#dropdown-toggle').click(function() {
    $('.dropdown-menu').toggleClass('toggled');
    $('#chevron').toggleClass('rotate-chevron');
    $("#focus-overlay").fadeToggle(150);
    console.log("in here");
  });

  $('#focus-overlay').click(function() {
    $('.dropdown-menu').toggleClass('toggled');
    $('#chevron').toggleClass('rotate-chevron');
    $("#focus-overlay").fadeToggle(150);

  });

  $('#copy-email').click(function() {
    var originalText = $('#copy-email').html();
    /* Get the text field */
     /* Copy the text inside the text field */
    navigator.clipboard.writeText("oliverengel6@gmail.com");

    $('#copy-email').html('Copied!');

    setTimeout(function() {
      $('#copy-email').html(originalText)
    }, 3000);

  });
</script>
