<div class="standard-width">

  {% if page.previous.url %}
  <a href="{{page.previous.url}}">
    <section class="next-section">
      <div>
        <p class="subhead">Next post</p>
        <h3>{{page.previous.title}}</h3>
      </div>
      <!-- <img src="{{page.previous.hero}}"> -->
    </section>
  </a>

  {% else %}

  <a href="{{page.next.url}}">
    <section class="next-section">
      <div>
        <p class="subhead">Previous post</p>
        <h3>{{page.next.title}}</h3>
      </div>
      <!-- <img src="{{page.next.hero}}"> -->
    </section>
  </a>
    {% endif%}
</div>
