<section class="footer-wrapper">
  <div class="colophon">
    <div class="spacer-2x"></div>
    <p>This site was designed & coded from scratch by me – © 2023<br>It's set in <a href="https://commercialtype.com/catalog/graphik">Graphik</a>, <a href="https://pangrampangram.com/products/object-sans">Object Sans</a> & a tiny bit of <a href="https://www.typeby.com/fonts/fakt-mono">Fakt Mono</a>.</p>
  </div>

  <footer>
      <a class="resume" href="/assets/files/EngelOliver_Resume.pdf">Resume</a>
      <a href="https://www.google.com/maps/place/Fremont,+Seattle,+WA/@47.65712,-122.3724252,14z/data=!3m1!4b1!4m5!3m4!1s0x549015ac65a569d5:0xa2c5a5c295534d98!8m2!3d47.6541773!4d-122.3500004" class="subhead"><i class="fas fa-map-marker-alt"></i> 47.6542° N, 122.3500° W</p>
      <a class="linkedin" href="https://www.linkedin.com/in/oengel/">LinkedIn</a>
  </footer>

</section>
