<footer>
    <a class="resume" href="/assets/files/EngelOliver_Resume.pdf">Resume</a>
    <a href="https://www.google.com/maps/place/Capitol+Hill,+Seattle,+WA/@47.6278632,-122.3333217,14z/data=!3m1!4b1!4m5!3m4!1s0x5490152857c86161:0xef487dc6bbc25185!8m2!3d47.625305!4d-122.3221835" class="subhead footnote"><i class="fas fa-map-marker-alt"></i> 47.6253° N, 122.3222° W</p>
    <a class="linkedin" href="https://www.linkedin.com/in/oengel/">LinkedIn</a>

    <!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"p-BzR2_BPwmps_7"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-BzR2_BPwmps_7.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->
</footer>
