<nav class="nav">
  <div class="nav-container">

    <p class="name" onclick="location.href='/'">Oliver Engel &nbsp; &nbsp;</p>

    <div class="links">
      <a href="/" {% if page.url == "/" or page.url contains "/work" or page.url contains "/play" %}class="active" {% endif %}>
        Work</a>
      <a href="/words" {% if page.url contains "/words"%}class="active" {% endif %}>
        Words</a>
      <!-- <a href="/photo" {% if page.url contains "/photo"%}class="active" {% endif %}>
        Photo</a> -->
      <a href="/info" {% if page.url contains "/info"%}class="active" {% endif %}>
        Info</a>
    </div>

    <!-- <a href="" class="subhead updated-last" style="margin-bottom: 0px;">OPEN TO NEW ROLES</a> -->
    <button class="remove-on-mobile" data-micromodal-trigger="open-to-work">Open to new roles</button>
  </div>
</nav>


<div class="modal micromodal-slide" id="open-to-work" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 style="padding-top:0px" class="modal__title" id="modal-1-title">
          Like what ya see? 🌈
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          I'm open to Seattle-based or fully remote opportunities doing digital product design. I love startup environments, scrappy teams, and novel problem spaces.</p>
          <p>If that sounds kinda cool to you, fire up that email client and send a message on over to <span style="color:black;">oliverengel6@gmail.com</span>.
          </p>
      </main>

    </div>
  </div>
</div>
