<nav class="nav">
  <div class="nav-container">

    <p class="name" onclick="location.href='/'">Oliver Engel &nbsp; &nbsp;</p>

    {% if page.internalnav %}

    <div class="internal-nav">
      <!-- <span class="global-title">{{page.title}} /</span> -->
      <!-- <span class="inactive" id="section-title">Project Sections</span> -->



      <p class="internal-nav-toggle" href="#" id="section-title">Project Sections</p>


      <ul class="custom-select" id="internal-nav-select">
        <!-- <li href="#" id="section-title"></li> -->
      </ul>

    </div>

      <!-- <span class="custom-select" style="width:200px;">
        <select id="internal-nav-select">
          <option href="#" id="section-title">Project Sections</option>
        </select>
      </span> -->



    {% else %}

    <div class="links">
      <a href="/" {% if page.url == "/" or page.url contains "/work" or page.url contains "/play" %}class="active" {% endif %}>
        Work</a>
      <a href="/words" {% if page.url contains "/words"%}class="active" {% endif %}>
        Words</a>
      <!-- <a href="/photo" {% if page.url contains "/photo"%}class="active" {% endif %}>
        Photo</a> -->
      <a href="/info" {% if page.url contains "/info"%}class="active" {% endif %}>
        Info</a>
    </div>
    {% endif %}

    <!-- <a href="" class="subhead updated-last" style="margin-bottom: 0px;">OPEN TO NEW ROLES</a> -->
    <!-- <button class="remove-on-mobile" data-micromodal-trigger="open-to-work">WANNA SAY HEY?</button> -->
    <div class="links"><a class="remove-on-mobile" data-micromodal-trigger="open-to-work">Wanna say hey? 💬</a></div>
  </div>
</nav>


<div class="modal micromodal-slide" id="open-to-work" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 style="padding-top:0px" class="modal__title" id="modal-1-title">
          My inbox is open!
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
          <p style="margin-bottom:0px">Shoot an email on over to oliverengel6@gmail.com. I'm currently on the hunt for my next design challenge – startups preferred.
          </p>
      </main>

    </div>
  </div>
</div>
