
<!-- <hr> -->

<div class="project-body">
<h5>Thanks for reading.</h5>
<p>Here's some other work I'm proud of:</p>

</div>

<div class="project-nav">


  {% for page in site.pages %}
  {% if page.url contains "/work"%}

  <a href="{{page.url}}" id="boundless">

    <div class="portfolio-grid-item" >
      <div class="img-wrapper-portfolio">
        <img onmouseover="imgHover()" style="height: 190px;" onmouseout="imgHoverOut()" loading="lazy" alt="{{page.title}} thumbnail" src="{{page.thumb}}" class="project-thumbnail">
      </div>
      <h5>{{page.title}}</h5>
      <p>{{page.description}}</p>

    </div>
  </a>

  {% endif %}
  {% endfor %}




</div>



<div class="project-smaller-nav">
  {% for page in site.pages %}
  {% if page.url contains "/play"%}
  <a href="{{page.url}}" id="boundless">

    <div class="portfolio-grid-item" >
      <div class="img-wrapper-portfolio">
        <img onmouseover="imgHover()" style="height: 190px;" onmouseout="imgHoverOut()" loading="lazy" alt="{{page.title}} thumbnail" src="{{page.thumb}}" class="project-thumbnail">
      </div>
      <h5>{{page.title}}</h5>
      <p>{{page.description}}</p>

    </div>
  </a>

  {% endif %}
  {% endfor %}
</div>
