<div class="sidebar-nav">

    <nav>
        <ul class="nav-links">
            <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">About</a></li>
            <li><a href="/photo" class="{% if page.url == '/photo' %}active{% endif %}">Photography</a></li>
            <li><a href="/writing" class="{% if page.url == '/writing' %}active{% endif %}">Writing</a></li>
        </ul>

        <ul class="nav-links secondary">
            <!-- <li><a href="#" data-micromodal-trigger="contact-modal">Contact</a></li> -->
        </ul>
    </nav>
</div>