<h4>Design Experience</h4>

<div class="work-experience">

  <a href="https://joinhandshake.com/" class="featured">
    <section>
      <img alt="Samsara Logo" src="/assets/img/logos/handshake.png" >
      <div>
        <h5>Handshake</h5>
        <p>Senior Product Designer</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="https://samsara.com/">
    <section>
      <img alt="Samsara Logo" src="/assets/img/logos/samsara.png">
      <div>
        <h5>Samsara</h5>
        <p>Product Designer</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="https://www.boundless.com/">
    <section>
      <img alt="Boundless Immigration Logo" src="/assets/img/logos/boundless.png">
      <div>
        <h5>Boundless Immigration</h5>
        <p>Product Designer</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>



  <a href="https://collectivehealth.com/">
    <section>
      <img alt="Collective Health Logo" src="/assets/img/logos/collectivehealth.png">
      <div>
        <h5>Collective Health</h5>
        <p>Product Design Intern</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <div class="spacer-4x"></div>

  <!-- <a href="/assets/files/EngelOliver_Resume.pdf">
    <button>Download Resume</button>
  </a> -->

</div>


<h4>Education</h4>

<div class="work-experience">

  <a href="https://mhcid.washington.edu/">
    <section>
      <img alt="University of Washington Logo" src="/assets/img/logos/uw.png">
      <div>
        <h5>Master’s of HCI + Design</h5>
        <p>University of Washington</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="https://mhcid.washington.edu/">
    <section>
      <img alt="University of Washington Logo" src="/assets/img/logos/ucsd.png">
      <div>
        <h5>Interdisciplinary Computing & the Arts</h5>
        <p>UC San Diego</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>
</div>
