<h4>Recent Experience</h4>

<div class="work-experience">

  <a href="https://samsara.com/">
    <section>
      <img alt="Samsara Logo" src="/assets/img/logos/samsara.png">
      <div>
        <p>Samsara</p>
        <p class="subdued-text">Since 2021</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="https://www.boundless.com/">
    <section>
      <img alt="Boundless Immigration Logo" src="/assets/img/logos/boundless.png">
      <div>
        <p>Boundless Immigration</p>
        <p class="subdued-text">2019–2021</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="https://mhcid.washington.edu/">
    <section>
      <img alt="University of Washington Logo" src="/assets/img/logos/uw.png">
      <div>
        <p>Master of HCI + Design, University of Washington</p>
        <p class="subdued-text">2018–2019</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="https://collectivehealth.com/">
    <section>
      <img alt="Collective Health Logo" src="/assets/img/logos/collectivehealth.png">
      <div>
        <p>Collective Health</p>
        <p class="subdued-text">2018</p>
      </div>
      <i class="fas fa-external-link-alt"></i>
    </section>
  </a>

  <a href="/assets/files/EngelOliver_Resume.pdf">
    <button id="resume-button">
      <i class="fas fa-book"></i>
      <p>View Resume</p>

    </button>
  </a>

</div>
