<div class="about-header">



    <div class="work-experience">

      <h3>Roles</h3>

      <a href="https://joinhandshake.com/" class="featured">
        <section>
          <img alt="Samsara Logo" src="/assets/img/logos/handshake.png" >
          <div>
            <b>Handshake</b>
            <p>Senior Product Designer</p>
            <p class="subhead">2022 - Now</p>

          </div>
          <i class="fas fa-external-link-alt"></i>
        </section>
      </a>

      <a href="https://samsara.com/">
        <section>
          <img alt="Samsara Logo" src="/assets/img/logos/samsara.png">
          <div>
            <b>Samsara</b>
            <p>Product Designer</p>
          </div>
          <i class="fas fa-external-link-alt"></i>
        </section>
      </a>

      <a href="https://www.boundless.com/">
        <section>
          <img alt="Boundless Immigration Logo" src="/assets/img/logos/boundless.png">
          <div>
            <b>Boundless Immigration</b>
            <p>Product Designer</p>
          </div>
          <i class="fas fa-external-link-alt"></i>
        </section>
      </a>



      <a href="https://collectivehealth.com/">
        <section>
          <img alt="Collective Health Logo" src="/assets/img/logos/collectivehealth.png">
          <div>
            <b>Collective Health</b>
            <p>Product Design Intern</p>
          </div>
          <i class="fas fa-external-link-alt"></i>
        </section>
      </a>

      <div class="spacer-4x"></div>

      <!-- <a href="/assets/files/EngelOliver_Resume.pdf">
        <button>Download Resume</button>
      </a> -->

    </div>






    <div class="work-experience">

      <h3>Education</h3>


      <a href="https://mhcid.washington.edu/">
        <section>
          <img alt="University of Washington Logo" src="/assets/img/logos/uw.png">
          <div>
            <b>Master’s of HCI + Design</b>
            <p>University of Washington</p>
          </div>
          <i class="fas fa-external-link-alt"></i>
        </section>
      </a>

      <a href="https://visarts.ucsd.edu/undergrad/major-req/icam.html">
        <section>
          <img alt="University of Washington Logo" src="/assets/img/logos/ucsd.png">
          <div>
            <b>Interdisciplinary Computing & the Arts</b>
            <p>UC San Diego</p>
          </div>
          <i class="fas fa-external-link-alt"></i>
        </section>
      </a>
    </div>
  </div>
