/* BREAKPOINTS */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1240px;
$screen-xl: 1920px;

/* COLORS */
$background: #0e1019;
$background-secondary: #191d2c;
$background-light: #efefec;

$divider: #ffffff1f;

$text-primary: #efefec;
$text-secondary: #888a9a;

$accent: #cddc39;

/* BORDER RADIUS */
$border-radius-max: 1000px;
$border-radius-default: 16px;

/* FONT FAMILIES */
$header-family: 'Druk';
$body-family: 'Fakt';

/* VARIOUS VALUES */
$max-width: 1100px;



html {
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  background-color: $background;
  font-family: $body-family;
  color: $text-primary;
  width: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}


h1,
h2 {
  font-family: $header-family;
  font-weight: 700;
  color: $text-primary;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 3.3rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 8px;
}


.subdued {
  color: $text-secondary;
}

a {
  color: $text-primary;
  text-decoration: none;
  border-bottom: 1px solid #888a9aa6;
  padding-bottom: 3px;
  transition: 0.2s all;

  &:hover {
    border-bottom: 1px solid $accent;

  }
}

p {
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  color: $text-secondary;
  font-size: .9rem;
}


body {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 24px;

  @media (max-width: 800px) {
    padding: 0 12px;
  }
}


.link-button {
  font-size: .9em;

  border-radius: 8px;
  background-color: $background-secondary;
  border: 2px solid $background-secondary;
  color: $text-primary;
  display: flex;
  gap: 8px;
  // align-items: center;
  padding: 6px 12px 4px 12px;
  height: fit-content;

  img {
    padding-top: 3px;
  }


  &:hover {
    background: $background;
    cursor: pointer;
    border: 2px solid $background-secondary;

  }
}

button {
  background-color: $accent;
  color: #2e310c;
  font-size: .9em;
  height: 32px;
  padding: 6px 12px 4px 12px;
  border-radius: 8px;
  font-family: $body-family;
  text-align: center;
  vertical-align: middle;
  transition: 0.2s all;
  border: none;

  &:hover {
    background: #adba26;
    cursor: pointer;
  }
}


.page-header-wrapper {
  display: flex;
  gap: 24px;
  padding: 48px 0;
  align-items: center;
}


.portrait {
  transform: rotate(2deg);
  transition: 0.2s all;
  border-radius: $border-radius-default;
  width: 248px;
  height: 100%;

  @media (max-width: 730px) {
    display: none;
  }
}

.portrait:hover {
  transform: rotate(0deg);

}

.link-row {
  display: flex;
  gap: 48px;
  padding-top: 32px;
}

.link-row a {
  border-bottom: none;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0;

  p {
    margin: 0;
    padding-top: 4px;
  }
}

.link-row a:hover {
  border-bottom: none;
}

.project-description {
  max-width: 48ch;
  padding-bottom: 24px;
}

.project-card {
  transition: 0.2s all;
  width: fill;
  list-style: none;
  display: flex;
  // overflow: hidden;
  position: relative;

  a {
    width: 100%;
    height: fit-content;
    text-decoration: none;
    line-height: 1.4;
    border: none;
    // padding: 32px 0;

  }

  &:hover {
    img {
      outline: solid 2px $accent;
    }

    .title {
      transition: 0.2s all;

      &::after {
        content: " •";
        margin-left: 4px;
        color: $accent;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1.2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(.99, 0, .52, .96);
        -webkit-animation-direction: alternate;

        @-webkit-keyframes blinker {
          from {
            opacity: 1.0;
          }

          to {
            opacity: 0.0;
          }
        }
      }
    }
  }




  img {
    outline: solid 2px $background;
    transition: 0.2s all;
    max-width: 100%;
    object-fit: cover;
    // height: auto;
    // z-index: -5;
    border-radius: $border-radius-default;
    height: 100%;
    max-height: 545px;
    // width: auto;
    // margin: 0 auto;

    @media (max-width: 800px) {
      // aspect-ratio: 1/1;
      object-fit: cover;
      // height: 400px;
      width: 100%;
    }
  }

  p {
    margin: 0;
  }

}

.card-list>ul {
  display: flex;
  flex-direction: column;
  // gap: 24px;
  padding: 0;
}



// .project-card:hover {
//   border: 2px solid $accent;

// }

.project-card>a:hover {
  // border: none;
  // border-bottom: 1px solid $divider;
}


.remove-on-mobile {
  @media (max-width: 480px) {
    display: none !important;
  }
}



.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  padding-top: 24px;

  .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-bottom: none;


    &:hover {
      img {
        transform: rotate(-2deg);
      }

    }

    img {
      transform: rotate(0deg);
      transition: 0.2s all;
      width: 300px;
      height: 300px;
      border-radius: $border-radius-default;
    }
  }
}

.about-content {
  max-width: 58ch;
  margin: 0 auto;
  padding-top: 48px;
}

.about-page {

  h1,
  h2 {
    text-align: center;
  }

  @media (max-width: 600px) {
    text-align: left;
  }
}


.about-img4 {
  @media (max-width: 960px) {
    display: none;
  }
}

.about-img3 {
  @media (max-width: 710px) {
    display: none;
  }
}

.about-img2 {
  @media (max-width: 512px) {
    display: none;
  }
}


.skew-left {
  transform: rotate(-2deg);
  transition: 0.2s all;

  &:hover {
    transform: rotate(0deg);
  }
}

.skew-right {
  transform: rotate(2deg);
  transition: 0.2s all;

  &:hover {
    transform: rotate(0deg);
  }
}


.image-pile {
  width: 100%;
  display: flex;
  margin: 48px auto;
  justify-content: center;

  img {
    border-radius: $border-radius-default;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

hr {
  height: 1.5px;
  background-color: $divider;
  border: none;
  margin: 64px 0;
}

.fadeIn {
  animation: 1200ms ease-out 0s 1 fadeInAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}