/* BREAKPOINTS */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1240px;
$screen-xl: 1920px;

/* COLORS */
$background: #f8f6f5;
$background-darker: #e2e0e0;
$background-secondary: #191d2c;
$background-light: #efefec;

$divider: #ffffff1f;

$text-primary: #161514;
$text-inverse: $background;
$background-inverse: $text-primary;


$text-secondary: #3b3a3894;

$accent: #D03541;
$accent-hover: #8e232b;

/* BORDER RADIUS */
$border-radius-max: 1000px;
$border-radius-default: 16px;

/* FONT FAMILIES */
$header-family: 'Futwora Pro';
$body-family: 'Marcel';

/* VARIOUS VALUES */
$max-width: 700px;



html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  background-color: $background;
  font-family: $body-family;
  color: $text-primary;
  width: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}


h1,
h2,
h3 {
  font-family: $header-family;
  font-weight: 400;
  color: $text-primary;
  margin: 0;
  // letter-spacing: 0.05rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: -.06em;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.5rem;
  margin-bottom: 8px;
  letter-spacing: -.05em;

}

h3 {
  font-size: 1.6rem;
  font-weight:400;
  line-height: 1.8rem;
  // margin-bottom: 8px;
  font-weight: 500;
  letter-spacing: -.04em;


  margin:0 0 8px 0;
}


.subdued {
  color: $text-secondary;

  a{
    color:inherit;
    // text-decoration: underline !important;
    &:hover{
      color:$text-primary;
    }
  }
}



a {
  color: $accent;
  font-weight:500;
  // text-decoration: none;
  // border-bottom: 1px solid #888a9aa6;
  // padding-bottom: 1px;
  transition: 0.2s all;
  &:hover{
    color: $accent-hover;
  }
}

p {
  font-size:1rem;
  line-height:1.7rem;
  margin-top: 0;

  
}


.subtitle {
  font-weight: 500;
  color: $text-primary;
  font-size: .9rem;
}


body {
  padding: 0 24px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;

  @media (max-width: 800px) {
    padding: 0 32px;
  }
}

html::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 16px solid #F4EEE6;
  pointer-events: none;
  z-index: 9999;
}

.link-button-group{
  display: flex;
  gap:12px;
  padding-top:24px;
  justify-content:center;

  a{
    &:hover{
      color: $text-primary
    }
  }


  @media (max-width: 480px) {
    justify-content:left;
  }
}

.link-button {
  font-size: .9em;

  border-radius: 8px;
  background-color: $background-darker;
  border: 2px solid $background-darker;
  font-weight: 500;
  color: $text-primary;
  display: flex;
  gap: 8px;
  // align-items: center;
  padding: 6px 12px 4px 12px;
  height: fit-content;

  img {
    padding-top: 2px;
  }


  &:hover {
    background: $background;
    cursor: pointer;
    border: 2px solid $background-darker;

  }
}

button {
  background-color: $accent;
  color: $text-inverse;
  font-size: .9em;
  // height: 32px;
  padding: 12px 16px;
  border-radius: 10000px;
  font-family: $body-family;
  text-align: center;
  vertical-align: middle;
  transition: 0.2s all;
  border: none;
  font-weight:500;

  &:hover {
    background: $accent-hover;
    cursor: pointer;
  }
}


// .page-header-wrapper {
//   display: flex;
//   gap: 24px;
//   padding: 48px 0;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   align-items:center;
// }

.full-width-wrapper{
  width: calc(100vw);
  margin-left: calc(-50vw + 50%);
  // width:100%;
  // max-width: 100%;
  background-color: #72717014;
  margin-bottom: 64px;
  // border-radius: 32px;
}

.page-header{
  display: flex;
  flex-direction: column;
  gap: 16px;
  height:40vh;
  justify-content: center;
  align-items: center;
  // width:100%;
  max-width: 570px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 480px) {
    text-align: left;

  }


}


.portrait {
  transform: rotate(2deg);
  transition: 0.2s all;
  border-radius: $border-radius-default;
  width: 248px;
  height: 100%;

  @media (max-width: 730px) {
    display: none;
  }
}

.portrait:hover {
  transform: rotate(0deg);

}

.link-row {
  display: flex;
  gap: 48px;
  padding-top: 32px;
}

.link-row a {
  border-bottom: none !important;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0;

  p {
    margin: 0;
    padding-top: 4px;
  }
}

.link-row a:hover {
  border-bottom: none !important;
}

.project-description {
  width:100%;
  max-width: 52ch;
  margin: 0 auto;
}

.titleanddate{
  display: flex;
  // flex-direction: column;
  gap:12px;
  justify-content: space-between;
}

.project-card {
  transition: 0.2s all;
  width: fill;
  list-style: none;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  // display:grid;
  // grid-template-columns: 1fr 1fr;
  gap:48px;
  position: relative;

  p + p{
    padding-top:0px;
  }

  a {
    width: 100%;
    height: fit-content;
    text-decoration: none;
    line-height: 1.4;
    border: none;
    // padding: 32px 0;

  }




  img, .video-embed {
    outline: solid 2px $background;
    transition: 0.2s all;
    max-width: 100%;
    object-fit: cover;
    // height: auto;
    // z-index: -5;
    border-radius: $border-radius-default;
    // height: 100%;
    // max-height: 545px;
    // width: auto;
    // margin: 0 auto;

    @media (max-width: 800px) {
      // aspect-ratio: 1/1;
      object-fit: cover;
      // height: 400px;
      width: 100%;
    }
  }

  p {
    margin: 0;
  }

}

.card-list>ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: $max-width;
  margin: 0 auto;
}


.remove-on-mobile {
  @media (max-width: 480px) {
    display: none !important;
  }
}


.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  padding-top: 24px;

  .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-bottom: none;


    &:hover {
      img {
        transform: rotate(-2deg);
      }

    }

    img {
      transform: rotate(0deg);
      transition: 0.2s all;
      width: 300px;
      height: 300px;
      border-radius: $border-radius-default;
    }
  }
}

.about-content {
  max-width: 52ch;
  margin: 0 auto;
  // padding-top: 48px;
}

.about-page {

  h1,
  h2 {
    text-align: center;

    @media (max-width: 480px) {
      text-align: left;
    }
  }

  @media (max-width: 600px) {
    text-align: left;
  }
}


.about-img4 {
  @media (max-width: 960px) {
    display: none;
  }
}

.about-img3 {
  @media (max-width: 710px) {
    display: none;
  }
}

.about-img2 {
  @media (max-width: 512px) {
    display: none;
  }
}


.skew-left {
  transform: rotate(-2deg);
  transition: 0.2s all;

  &:hover {
    transform: rotate(0deg);
  }
}

.skew-right {
  transform: rotate(2deg);
  transition: 0.2s all;

  &:hover {
    transform: rotate(0deg);
  }
}


.image-pile {
  width: 100%;
  display: flex;
  margin: 48px auto;
  justify-content: center;

  img {
    border-radius: $border-radius-default;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 2px solid $background;
    box-sizing: border-box;
  }

  @media (max-width: 480px) {
    // justify-content:left;
    margin-top:0;
  }
}

hr {
  height: 1.5px;
  background-color: $background;
  border: none;
  margin: 64px 0;
}

.fadeIn {
  animation: 1200ms ease-out 0s 1 fadeInAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.video-embed{
  // opacity:0;
  animation: 1200ms ease-out 0s 1 fadeInAnimation;
  // animation-delay: 2s;
  background-color: #76777f3b;
  padding:56.25% 0 0 0;
  position:relative;
  border-radius: $border-radius-default;
  overflow: hidden;

  iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.tag-cloud{
  display:flex;
  gap:8px;
  padding-top:12px;
  justify-content: center;
  margin-bottom: 12px;

  .tag{
    background-color: $background-inverse;
    color: $text-inverse;
    border-radius: $border-radius-max;
    padding: 6px 12px 4px 12px;
    font-size:.875rem;
    user-select:none;
    font-weight: 500;
  }

  .tag-link{
    transition: 0.2s all;
    background-color: $accent;
    a{
      color: $background;
    }
    &:hover{
      background: #adba26;
    }
  }
}


.grid-item { width: 200px; }

.two-videos{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:16px;

  .video-embed{
    aspect-ratio: 2/1;
    max-height: 500px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr ;
  }
}

.box + .box{
  margin-top:16px;
}

.box{
  background-color: $background-secondary;
  border-radius: $border-radius-default;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap:16px;

  .text{
    display: flex;
    flex-direction: column;

    p + p{
      padding:0;
    }
  }

  img{
    opacity:.75;
    width:64px;
    filter: grayscale(100%) brightness(1000%) ;
    
    
  }

  p{
    margin: 0;
  }
}



.blog-wrapper {
  margin: 32px 0;
  max-width:800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap:24px;

  
  
}

#read-more{
  color: $accent;
  font-weight: 500;
  border-bottom: 1px solid $background;

}

.blog-entry-content{
  color: $text-primary;
  p{
    text-decoration: none;

  }
}


.blog-entry {
  padding: 16px 16px 8px 16px;
  transition: 0.2s all;
  // max-width:640px;
  margin-bottom: 0;
  display:flex;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
  border-bottom:none !important;
  border-radius:24px;
  text-decoration:none;

  @media(max-width: 640px) {
    // grid-template-columns: 1fr;
    // margin-bottom: 48px;
    // grid-gap: 16px;
    flex-direction: column;

    img{
      width:100% !important;
    }
  }

  h3{
    color: $text-primary;
  }

  p{
    color: $text-primary;
    font-weight: 400;
  }

  #read-more{
    font-weight: 400;
    border-bottom: 1px solid $background;

  }

  

  &:hover{
    transform: scale(1.03);
    background: white;
    transition: 0.3s all;
    border-bottom:none !important;
    #read-more {
      color: $accent;
      
      border-bottom: 1px solid $accent;
    }

    img{
      // mix-blend-mode: multiply;
    }
  }
  

  img {
    border-radius: $border-radius-default;
    transition: 0.3s all;
    // height: 100%;
    // width:100%;
    width:350px;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}

.subhead{
  font-size: .875rem;
  font-weight:500;
}

.post-hero-image{
  width: 100%;
  height: 100%;
//  max-height: 400px;
 object-fit: cover;
 border-radius: $border-radius-default;
}


// .blog-markdown p:first-child::first-letter {
//   padding-right: 8px;

//   -webkit-initial-letter: 3;
//   initial-letter: 3;
//   font-family: $header-family;
// }



.blog-markdown{
  max-width: 650px;
  margin: 0 auto;

  blockquote{
    background-color: #0000000f;
    margin: 0 0 12px 0;
    padding: 12px;
    text-align: center;
    p{
      margin: 0;
    }
  }



  strong{
    font-weight: 500;
  }

  img + em{
    font-style: normal;
    text-align: center;
    font-size: .875rem;
    width: 100%;
    display:block;
    padding-bottom:12px;
  }

  h4{
    margin-bottom:2px;
    font-weight: 500;
  }

  h3{
    margin: 48px 0 4px 0;
  }
  p{
    img{
      margin-top: 12px;
      width: 100%;
      border-radius: $border-radius-default/2;
      // margin-top:32px;

      // position: relative;
      // max-width:800px;
      // margin: 0 auto;
      // max-width: 60vw;
      // left: calc(-30vw + 50%);
      // min-width:100%;
      // height: 50px;
      // background: blue;

    }
  }
}

.post-header{
  text-align: center;
  h1{
    padding-bottom:32px;
  }
}


.disabled{
  cursor: not-allowed;
  pointer-events: none;
  background-color: none !important;
}




.container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar takes 250px width, main content takes remaining space */
  min-height: 100vh;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 20px;
  overflow-y: scroll;
}

ul{
  li{
    line-height: 1.7rem;
    padding-bottom:6px;
  }
}


.main-image{
  display: block;
  margin: 48px auto;
  object-fit: cover;
  border-radius: 20px;
  

  transition: 0.2s all;

  &:hover {
    transform: rotate(2deg);
  }
}

.name{
  font-family: 'Oliver';
  text-align: center;
  font-size: 24px;

}

.posts-section{
  max-width: 900px; margin: 0 auto;
}

.posts-grid{

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  img{
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  a {
    text-decoration: none;
    display: block;
    transition: 0.2s all;
    padding: 16px;
    border-radius: 16px;

    h3{
      color: $text-primary;

    }


    &:hover {
      background-color: $background-darker;
      padding: 16px;
    }
  }
}

.resource-image{
  width: 100%;
  aspect-ratio: 1.67 / 1; // This maintains the same ~584:350 ratio
  object-fit: cover;
  border-radius: 8px;
  // margin-bottom: 12px;  
}

.resources-item{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
  align-items: center;
  padding: 32px;
  background-color: #ede5db;
  border-radius: 24px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.resources-section{
  max-width: 900px;
  margin: 0 auto;
 
}

.resources-grid{
  margin-bottom:24px;
}
