/**
 * THE BULK OF IT ALL
 */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  // overflow-x: hidden;
  scroll-behavior: smooth;

  @media (max-width: $screen-sm-min) {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  background: $bg-color;
  font-family: $body-font, sans-serif;
  font-weight: $body-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;

  @include highlight-color-dark;
}

code,
kbd,
pre,
samp {
  font-family: $monospace, monospace;
  font-size: 1em;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

*::selection {
  background: gray;
}

img {
  border-radius: $border-radius-standard;
  width: 100%;
  display: block;
}

hr {
  height: 1px;
  background-color: $divider;
  border: none;
}
// VIDEO ///////////////////////////////

video {
  display: block;
  border-radius: $border-radius-standard;
}

button {
  @include delicious-button;
}

button.secondary-button{
  @include header;
  background-color: #f3f3f3;
  color: black;
  box-shadow: none;
  border-radius: 100px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

iframe{
  margin: $size-4x 0;
  border-radius: $border-radius-standard;
}

.video-responsive {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 3px;
  /* pointer-events : none; */
  margin-bottom: $vertical-rhythm;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events : none; */
}
// END VIDEO ///////////////////////////

.content {
  @include margin-0-auto;
  padding: $size-12x 0;


  // max-width: $content-standard;
  // background-color: $card-color;
  border-radius: $border-radius-standard;

  @include highlight-color-light;

}

.profile-image {
  width: $size-24x;
  margin-bottom: $size-5x;
}

.mobile-header {
  display: none;
  @media (max-width: $screen-sm-min) {
    display: block;
  }
}

.me-moji {
  padding-bottom: 10px;
  @include scaleContentIn($quick, 0.7);
}

.header-section {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.work-experience {

  padding: 0;

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 0 !important;
  }

  li{
    margin-bottom: $size-4x;
  }

  img {
    margin: 0 !important;
    width: $size-12x !important;
    height: $size-12x !important;
    left: 0 !important;
    background-color: $gray-hover;
    border-radius: $border-radius-standard;
  }

  section {
    transition: 0.1s all;
    display: inline-flex;
    gap: $size-5x;
    padding: $size-3x;
    // border:1px solid red;
    width: 100%;
    border-radius: $border-radius-standard;

    i {
      opacity: 0;
      margin-left: auto;
    }

    &:hover {
      background-color: #2e363d;

      i {
        color: $green;
        opacity: 1;
        margin-left: auto;
      }
    }
  }
}

#memoji {
  transform: translateY(-100px);
}

.date-and-logo {
  * {
    font-size: 0.875rem;
  }
  display: inline-flex;
  align-items: center;

  img {
    width: $size-12x;
    height: $size-12x;
  }
}

.projects {
  display: grid;
  grid-row-gap: $size-12x;
  padding-top: $size-4x;

  a {
    text-decoration: none;
  }

  .project-row {
    &:focus {
      outline: none;
    }
    padding-bottom: $size-12x;
    border-bottom: 1px solid $divider;

    .hero {
      height: 340px;
      object-fit: cover;
      transition: all 0.2s;
    }

    .hero-wrapper {
      transition: all 250ms;
      display: block;
      position: relative;
      text-align: center;

      .project-hover-text {
        opacity: 0;
      }
    }

    &:hover {

      .hero-wrapper{
        transform: scale(1.05) rotate(-1deg);

      }
      b {
        border-bottom: 1px solid black;
      }

      .project-hover-text {
        opacity: 1;
      }

      .hero {
        filter: brightness(.4);
      }
    }
  }
}

.project-hover-text {
  display: flex;
  gap: $size-2x;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: white;
  margin: 0;

  h4 {
    margin: 0;
    // line-height: 1.25em;
  }
}

.pill {
  color:$text-gray;
  background-color: #f5f4f421;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 0.875rem;
  // display: inline-flex;
  padding: $size-2x $size-3x;
  border-radius: $border-radius-standard;
}

.filterDiv {
  display: none;
  /* Hidden by default */
  // overflow-x: scroll;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.active {
  color: white !important;
  // background-color: $bg-color !important;
  border: 2px solid $bg-color !important;

  .numberCircle {
    background: white;
    color: black;
  }

  &:hover {
    border: none;
  }
}

#myBtnContainer {
  @media (max-width: $screen-sm-min) {
    overflow-x: scroll;
  }
  z-index: 100;
  position: -webkit-sticky;
  /* Safari & IE */
  position: sticky;
  top: 0;
  padding: $size-4x 0;
  background-color: white;
  white-space: nowrap;

  .active {
    background-color: $bg-color !important;
  }

  .btn {
    height: $size-12x;
    color: $bg-color;
    background-color: white;
    border: 2px solid $gray-hover;
    border-radius: 1000px;
    display: inline-block;
    font-size: 0.9rem;

    .numberCircle {
      margin-left: $size-1x;
      display: inline-block;
      line-height: 0;
      border-radius: 50%;
      // border: 2px solid;
      background: $gray-hover;
      // font-size: 32px;
    }

    .numberCircle span {
      display: inline-block;
      padding-top: 50%;
      padding-bottom: 50%;
      margin: 0 8px;
      @include monospace;
    }

    &:hover {
      border: 2px solid $gray-outline;
    }
  }
}

.fourohfour{
  text-align: center;
  .emoji{
    font-size:3rem;
    user-select: none;
    margin-top:0px !important;
  }
}

.fancy-link-preview{
  width:100%;
  background-color: $gray-hover;
  height: $size-8x;
}


#block-link {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $purple-100;
  color: $purple-700;
  border: 1px solid $purple-100 !important;
  // background-color: #2890ff0d;
  text-align: center;
  padding: $size-8x;
  margin-top: $size-4x;
  border-radius: $border-radius-standard;
  text-decoration: none;

  &:hover{
    border: 1px solid $purple-200 !important;
    opacity:1 !important;
  }
}

.full-page-width{
  width: 100%;
}

.inline-project-list{
  margin: 0 auto;
  max-width: $content-standard;
  padding: $size-12x;
  background: white;
  box-shadow: 0px 2px 4px rgba(64, 64, 64, 0.15);
  border:1px solid $divider;
  border-radius: $border-radius-standard;
  h4{
    margin-top: 0;
  }

  li{
  }
}

.project-row{
  h4{
    margin-top: 0px;
  }
}


#smaller-project-list{
  a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $size-12x;
    align-items: center;

    .hero{
      max-height: 160px;
    }
  }
}

.full-header{
  height: 40vh;
  // width: 100vw;
  color:white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  // background-color: $green;

  @media (max-width: $screen-xs-min){
    gap: $size-4x;
    text-align: center;
  }
}

.floating-button{
  z-index: 0;
  position: fixed;
  bottom: $size-8x;
  right: $size-8x;

}

body.disable-scroll {
  overflow: hidden;
}


.show-on-mobile{
  @media (min-width: $screen-xs-min) {
    display: none;
  }
  @media (max-width: $screen-xs-min) {
    display: contents;
  }
}

.hide-on-mobile{
  @media (min-width: $screen-xs-min) {
    height: auto;
  }
  @media (max-width: $screen-xs-min) {
    height: 0;
    display: none;
  }
}

.input-group{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: $size-2x;

  button{
    border-radius: $border-radius-standard;
  }
}

input{
  border: none;
  padding: $size-2x;
  border-radius: $border-radius-standard;
  background: #2e363d;

  &:focus{
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: blue;
    outline-style: auto;
    outline-width: 0px;

    border: 1px solid $green;
    caret-color: $green;
    color:white;
  }
}
