@font-face {
  font-family: 'Fakt';
  src: url('/assets/fonts/Fakt-Normal.eot');
  src: url('/assets/fonts/Fakt-Normal.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Fakt-Normal.woff2') format('woff2'),
    url('/assets/fonts/Fakt-Normal.woff') format('woff'),
    url('/assets/fonts/Fakt-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}


@font-face {
  font-family: 'Fakt';
  src: url('/assets/fonts/Fakt-Medium.eot');
  src: url('/assets/fonts/Fakt-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Fakt-Medium.woff2') format('woff2'),
    url('/assets/fonts/Fakt-Medium.woff') format('woff'),
    url('/assets/fonts/Fakt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'Fakt';
  src: url('/assets/fonts/Fakt-SemiBold.eot');
  src: url('/assets/fonts/Fakt-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Fakt-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Fakt-SemiBold.woff') format('woff'),
    url('/assets/fonts/Fakt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  /* font-display: swap; */
}



@font-face {
  font-family: 'Druk';
  src: url('/assets/fonts/Druk-Bold.eot');
  src: url('/assets/fonts/Druk-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Druk-Bold.woff2') format('woff2'),
    url('/assets/fonts/Druk-Bold.woff') format('woff'),
    url('/assets/fonts/Druk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}