@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/assets/fonts/Graphik-Regular.eot');
    src: url('/assets/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Graphik-Regular.woff2') format('woff2'),
        url('/assets/fonts/Graphik-Regular.woff') format('woff'),
        url('/assets/fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Fakt Mono';
    font-display: swap;
    src: url('/assets/fonts/FaktMono-Blond.eot');
    src: url('/assets/fonts/FaktMono-Blond.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FaktMono-Blond.woff2') format('woff2'),
        url('/assets/fonts/FaktMono-Blond.woff') format('woff'),
        url('/assets/fonts/FaktMono-Blond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/assets/fonts/Graphik-Medium.eot');
    src: url('/assets/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Graphik-Medium.woff2') format('woff2'),
        url('/assets/fonts/Graphik-Medium.woff') format('woff'),
        url('/assets/fonts/Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+000-5FF;
}

// @font-face {
//     font-family: 'Saol Display';
//     font-display: swap;
//     src: url('/assets/fonts/SaolDisplay-Regular.eot');
//     src: url('/assets/fonts/SaolDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/SaolDisplay-Regular.woff2') format('woff2'),
//         url('/assets/fonts/SaolDisplay-Regular.woff') format('woff'),
//         url('/assets/fonts/SaolDisplay-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//     unicode-range: U+000-5FF;
// }

@font-face {
    font-family: 'Kippenberger Web 75';
    font-display: swap;
    src: url('/assets/fonts/KippenbergerWeb-75Bold.eot');
    src: url('/assets/fonts/KippenbergerWeb-75Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/KippenbergerWeb-75Bold.woff2') format('woff2'),
        url('/assets/fonts/KippenbergerWeb-75Bold.woff') format('woff'),
        url('/assets/fonts/KippenbergerWeb-75Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    unicode-range: U+000-5FF;
}
