@font-face {
  font-family: 'VC Henrietta';
  src: url('/assets/fonts/VCHenriettaCondensed-Medium.eot');
  src: url('/assets/fonts/VCHenriettaCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/VCHenriettaCondensed-Medium.woff2') format('woff2'),
    url('/assets/fonts/VCHenriettaCondensed-Medium.woff') format('woff'),
    url('/assets/fonts/VCHenriettaCondensed-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'VC Henrietta';
  src: url('/assets/fonts/VCHenriettaCondensed-Semibold.eot');
  src: url('/assets/fonts/VCHenriettaCondensed-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/VCHenriettaCondensed-Semibold.woff2') format('woff2'),
    url('/assets/fonts/VCHenriettaCondensed-Semibold.woff') format('woff'),
    url('/assets/fonts/VCHenriettaCondensed-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Medium.eot');
  src: url('/assets/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Graphik-Medium.woff2') format('woff2'),
    url('/assets/fonts/Graphik-Medium.woff') format('woff'),
    url('/assets/fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Regular.eot');
  src: url('/assets/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Graphik-Regular.woff2') format('woff2'),
    url('/assets/fonts/Graphik-Regular.woff') format('woff'),
    url('/assets/fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Futwora Pro';
  src: url('/assets/fonts/FutworaPro-Regular.eot');
  src: url('/assets/fonts/FutworaPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/FutworaPro-Regular.woff2') format('woff2'),
    url('/assets/fonts/FutworaPro-Regular.woff') format('woff'),
    url('/assets/fonts/FutworaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oliver';
  src: url('/assets/fonts/Oliver-Regular.eot');
  src: url('/assets/fonts/Oliver-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Oliver-Regular.woff2') format('woff2'),
    url('/assets/fonts/Oliver-Regular.woff') format('woff'),
    url('/assets/fonts/Oliver-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marcel';
  src: url('/assets/fonts/Marcel-Regular.eot');
  src: url('/assets/fonts/Marcel-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Marcel-Regular.woff2') format('woff2'),
    url('/assets/fonts/Marcel-Regular.woff') format('woff'),
    url('/assets/fonts/Marcel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futwora Pro';
  src: url('/assets/fonts/FutworaPro-Bold.eot');
  src: url('/assets/fonts/FutworaPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/FutworaPro-Bold.woff2') format('woff2'),
    url('/assets/fonts/FutworaPro-Bold.woff') format('woff'),
    url('/assets/fonts/FutworaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gaya';
  src: url('/assets/fonts/gayatrial-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fakt';
  src: url('/assets/fonts/FaktMono-Blond.eot');
  src: url('/assets/fonts/FaktMono-Blond.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/FaktMono-Blond.woff2') format('woff2'),
    url('/assets/fonts/FaktMono-Blond.woff') format('woff'),
    url('/assets/fonts/FaktMono-Blond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}