.footer-wrapper{
  background-color: $bg-color;

}

footer {
  max-width: $content-standard;
  width: 100%;
  margin: 0 auto;
  padding: $size-8x 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $screen-sm-min) {
    grid-template-columns: 1fr 1fr;
    padding: $size-8x $size-4x;

  }

  a{
    text-decoration: none;
    font-size:.8em;
    color: #9faab7 !important;
  }

  a > span {
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }

  .footer-icon {
    position: absolute;
    align-self: center;
    left: 50%;
    bottom: 5px;
    color: $off-white;
  }

  .footnote {
    text-align: center;

    @media (max-width: $screen-sm-min){
      display: none;
    }
  }

  .resume {}

  .linkedin {
    text-align: right;
  }
}

.colophon{
  p{
    font-size:.8rem;
  }

  padding-top: $size-4x;
  text-align: center;
  color:#9faab7;

  @media (max-width: $screen-sm-min) {
    padding: $size-8x $size-4x 0 $size-4x;

  }
}
