footer {
    margin: 96px 0 48px 0;
    p{
        font-size: .875rem;

    }
    // color: $text-secondary;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: 1.5px solid #ffffff1f;
    padding-top: 24px;

    @media (max-width: 730px) {
        flex-direction: column;
    }

    ul {
    padding-left: 16px;
    }
}

