// List your mixins in here to keep things tidy


// Disable text selection
@mixin user-select($argument: none){
  -webkit-user-select: $argument;
  -moz-user-select: $argument;
  -ms-user-select: $argument;
  user-select: $argument;
}

//Disable interaction
@mixin disable-interaction{
  pointer-events: none;
}




@mixin margin-0-auto{
  margin:0 auto;
}

@mixin highlight-color-light{
  ::selection {
  background: #0e0f10; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #0e0f10; /* Gecko Browsers */
  }
}

@mixin highlight-color-dark{
  ::selection {
  background: #0e0f10; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #0e0f10; /* Gecko Browsers */
  }
}
//////////////////////////////////////////

// TYPOGRAPHY

@mixin monospace{
  font-family: $monospace, $body-font, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
@mixin serif{
  font-family: Georgia, serif !important;
}
@mixin sans{
  font-family: $body-font, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

@mixin header{
  font-family: $header-font, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 600;
}

//////////////////////////////////////////

// UTILITIES
@mixin standard-width{
  max-width: $content-standard;
  width: 100%;
  margin: 0 auto;
}

@mixin standard-width-image{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

//////////////////////////////////////////

// BUTTONS

@mixin base-button{
  @include header;
  border-radius: $border-radius-max;
  padding: $size-2x $size-5x;
  text-align: center;
  text-decoration: none;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  transition: all 250ms;

  &:hover {
    @include scale-rotate;
  }

  &:focus {
    outline: none;
  }

}

@mixin scale-rotate{
  transform: scale(1.05) rotate(-1deg);
}

@mixin secondary-button{
  @include base-button;
  background-color: #f3f3f3;
  color: black;
  box-shadow: none;
}

@mixin primary-button{
  @include base-button;
  background-color: #8bc34a;
  border-radius: 100px;
  // box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #1c3400;

  &:hover {
    // box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  }
}

//////////////////////////////////////////
