.nav-wrapper{
  z-index: 1006;
  background-color: $bg-gray-lighter;
  box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 32px rgba(17,17,26,0.05);
  width: 100%;
  position: fixed;
  margin: 0 auto;

  @include header;


  nav{

    @media (max-width: $screen-xs-min){
      padding-left: $size-4x;
      padding-right: $size-4x;
    }

    section{
      transform: translateY(-1px);
    }
    user-select: none;
    max-width: $content-standard;
    margin: 0 auto;
    justify-content: space-between;
    font-size:.875rem;
    line-height: .875rem;
    text-align:center;
    width: 100%;
    padding-top: $size-2x;
    display:flex;
    gap: $size-1x;
    align-items: center;

    a {
      user-select: none;
      transition: all 0.12s;
      // border-radius: $border-radius-standard;
      padding: $size-2x $size-3x;
      text-decoration: none;
      color:$gray-200;


      border-bottom: 2px solid #fff00000 !important;



      i {
        transition: 0.1s all;
        font-size:.7rem;
      }

      &:hover {
        // background-color: #0e0e0e;
        color:$green;
        cursor: pointer;

        i {
          opacity: 1;
        }
      }
    }

    .active {
      color:$green !important;
      border: none !important;
      border-bottom: 2px solid $green !important;
        // background-color: $green;

        &:hover {
          // background-color: $green;
          cursor: pointer;
        }
      }
  }


}

.dropdown-toggle{
  justify-content: center;
}

#dropdown-menu-wrapper{

  display: hidden;
  pointer-events: none;


}

.dropdown-menu{


  pointer-events: none;
  transform: translateY(-20px);

  transition: 0.25s all;
  p{
    font-size: .875rem;
    @include header;
  }

  a{

    display: flex;
    flex-direction: column;
    gap: $size-2x;

    &:hover{
      img{
        @include scale-rotate;
      }

      p{
        color: $green;
      }
    }
  }
  opacity: 0;
  padding: $size-4x $size-4x $size-3x $size-4x;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  gap: $size-8x;
  overflow-x: scroll;
  z-index: 1003;
  position: fixed;
  top: $size-10x;
  height: 200px;
  background: $bg-color;
  img{
    transition: 0.1s all;
    // width: 100%;
    height: 148px;
    width: 200px;
    object-fit: cover;
  }
}

#focus-overlay{
  display: none;

  z-index: 1002;

  background-color: black;
  opacity: .70;
  width:100vw;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toggled{
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);

  i{
    transform: rotate(45deg);
  }
}

#chevron{
  transition: 0.2s all;
}

.rotate-chevron{
  transform: rotate(-180deg);
}

#copy-email{
  margin-right: $size-2x;
}
