.nav-wrapper {
    // padding: 48px 0;
    opacity:0;
    pointer-events: none;
}

nav {
    z-index: 1006;
    user-select: none;
    justify-content: space-between;
    font-size: .875rem;
    line-height: .875rem;
    text-align: center;
    display: flex;
    align-items: center;
    // position: fixed;
    // left:0;
    // top: 0;
    // right:0;
    // max-width:1100px;
    margin: 0 auto;
    background-color: #f8f6f5e0;
    padding: 24px 24px 16px 24px;
    // padding: 32px 0 16px 0;

    p{
    font-size: .875rem;
    font-weight:500;
    margin: 0;
    }

    @media (max-width: 480px) {
        padding-left: 12px;
        padding-right: 12px;

      }
        
    
    // backdrop-filter: blur(33px);
    // background-blend-mode: overlay;

    a {
        border-radius: $border-radius-max;
        padding: 10px 12px 8px 12px;
        text-decoration: none;
        color: $text-primary;
        border-bottom: none !important;
        font-weight:500;

        &:hover {
            border-bottom: none !important;
        }
    }

    .fixed {
        width: 85px;
        display: flex;
        font-weight:500;
    }

}


.main-nav-links {
    border-radius: $border-radius-max;
    display: flex;
    gap: 8px;

    a{
        &:hover{
            color: $text-primary;
        }
    }
}

a.active {
    background-color: #191d2c1a;
    font-weight:500;
}

// Avatar
#animated-image {
    margin-top: -6px;
    width: 32px;
    height: 32px;

    &:hover {
        animation: tilt-n-move-shaking 0.25s infinite;
    }
}

// Avatar hover animation
@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(2px, 2px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-2px, 2px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.backdrop{
    z-index:-1;
    position: absolute;
    inset: 0;
    --extended-by: 100px;
    bottom: calc(-1 * var (--extended-by));
    --cutoff: calc(100% - var(--extended-by));
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0,
        black var (--cutoff),
        transparent var(--cutoff)
    );

    --blur: 15px;
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
}