.nav-wrapper{
  z-index: 1006;
  margin: 32px 16px;
  font-weight: 500;
  background: $bg-color;




  nav{
    z-index: 1006;

    .profile-pic{
      width: $size-12x;
      height: $size-12x;
      object-fit: cover;
      border-radius: $border-radius-max;
    }

    .fixed{
      width: 100px;
    }

    .main-nav-links{
      display: flex;
      gap: 12px;
      height: 48px;
      border: 1px solid $light-gray-border;
      border-radius: $border-radius-max;
      padding: 4px;
    
    }

    // @media (max-width: $screen-xs-min){
    //   padding-left: $size-4x;
    //   padding-right: $size-4x;
    // }

    user-select: none;
    margin: 0 auto;
    justify-content: space-between;
    font-size:.875rem;
    line-height: .875rem;
    text-align:center;
    width: 100%;
    padding-top: $size-2x;
    display:flex;
    gap: 12px;
    align-items: center;

    a {
      border-radius: $border-radius-max;
      padding: 0 24px;
      display: grid;
      gap: 24px;
      align-content: center;
      justify-content: center;
      user-select: none;
      transition: all 0.12s;
      // border-radius: $border-radius-standard;
      // padding: $size-2x $size-3x;
      text-decoration: none;
      // color:$gray-200;
      



      &:hover {
        // background-color: #0e0e0e;
        // color:$green;
        cursor: pointer;

        i {
          opacity: 1;
        }
      }
    }

    .active {
      background: $light-gray;
      border: none !important;
        // background-color: $green;

        &:hover {
          // background-color: $green;
          cursor: pointer;
        }
      }
  }


}



#copy-email{
  margin-right: $size-2x;
}
