/**
 * PROJECT STYLES
 */
.partial-divider {
  width: 900px;
}



.small-text {
  color: $off-white;
  font-size: 0.8em;
}

.full-page-content{
  padding: 0 10px;
}

.project {
  padding: 0 10px;

  section {
    @include standard-content-width;
    margin: ($vertical-rhythm * 3) auto ($vertical-rhythm) auto;
  }



  img, iframe {
    @include wide-content-width;
  }

  .verticalLine {
    margin-bottom: 6px;
  }
}

.project-context {
  @include standard-content-width;
  @include fadeContentIn($quick);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.project-body {
  // @include fadeContentIn($quick);
  img {
    border-radius: $border-radius-medium;
  }
}

.project-details {
  @include standard-content-width;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  .subhead {
    padding: 0;
  }

  p {
    font-size: 0.8em;
  }
  @media(max-width: $screen-sm-min) {
    display: none;
  }
}

.project-bottom-bar {
  z-index: 10000;
  height: 10vh;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #1E2327;
}

.reach-out-module {
  width: 100%;
  border: 1px solid $blue;
  background-color: #2890ff0d;
  text-align: center;
  padding: 40px;
  border-radius: $border-radius-large !important;
  margin-top: $vertical-rhythm / 2;
  margin-bottom: $vertical-rhythm / 2;

  a {
    cursor: pointer;
    color: white;
    border-bottom: 1px solid #ffffff38;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
}

.success-module {
  width: 100%;
  border: 1px solid $green;
  background-color: #50fa7f1f;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: $border-radius-large !important;
  // margin-top: $vertical-rhythm / 2;
  // margin-bottom: $vertical-rhythm / 2;
  p{
    color:white;
    margin-bottom: 0px;
  }
  p + p{
    margin-top:12px;
  }
}

.in-progress-module {
  width: 100%;
  border: 1px solid $yellow;
  background-color: #ffe9280f;
  text-align: center;
  padding: 40px;
  border-radius: $border-radius-large !important;
  margin-top: $vertical-rhythm / 2;
  margin-bottom: $vertical-rhythm / 2;

  a {
    color: white;
    border-bottom: 1px solid #ffffff38;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid $yellow;
    }
  }
}

.no-padding-margins {
  padding: 0 !important;
  margin: 0;
}

.max-width-section {
  width: 100%;
  max-width: $content-wide;
  border-radius: $border-radius-large;
  margin: $vertical-rhythm auto 0;
  background: $transp-gray;
  padding: 0 $vertical-rhythm 0 $vertical-rhythm !important;
  margin-bottom: $vertical-rhythm;

  .subhead {
    padding-top: 0;
  }

  p {
    padding-top: 0;
  }
}

.img-caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
  padding: $vertical-rhythm 0;

  .subhead {
    padding: 0;
  }
  @media(max-width: $screen-sm-min) {
    grid-template-columns: 1fr;

    img {
      margin-bottom: 25px;
    }
  }
}



.verticalLine {
  border-left: thin solid #34383c;
  width: 2px;
  color: white;
  margin-bottom: 75px;
}





.portfolio-grid-item {
  @include slideContentUp($quick);
  // margin-bottom: $vertical-rhythm * 3;
  grid-row-gap: $vertical-rhythm * 2;


  h5 {
    // padding-top: $vertical-rhythm/2;
    margin-bottom: 0;
  }

  img {
    transition: 0.3s all;
    height: 400px;
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
      transform-origin: center;
      .img-wrapper-portfolio {
        border-radius: $border-radius-medium;
      }
    }
  }

  .shorter-images {
    height: 300px;
  }
}

.project-thumbnail{
  border-radius: $border-radius-medium 0px 0px $border-radius-medium;
}

.project-grid-description{
  margin: $vertical-rhythm * 2;

  @media(max-width: $screen-md-min){
    margin: 0px;
  }
}


.img-plus-text {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: $vertical-rhythm/2;
  margin: 0 10px;

  * {
    // width: 100%;
    align-self: center;
  }
  @media (max-width: $screen-md-min) {
    grid-template-columns: 1fr;
    @include standard-content-width;
  }
}

.description {
  // max-width: 25vw;
  width: 100%;
  max-width: 500px;
  font-size: 0.8em;

  li {
    color: $text-gray;
  }
  @media (max-width: $screen-md-min) {
    max-width: 100%;
    padding-bottom: $vertical-rhythm;
  }
}

// .full-viewwidth {
//   width: 100vw;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
//   margin-bottom: $vertical-rhythm;
//
//   figure,
//   img {
//     width: 100%;
//     max-width: 850px;
//     margin: 0 auto;
//     padding: $vertical-rhythm/2 0;
//   }
//
//   figcaption {
//     font-size: 0.8em;
//     padding-bottom: $vertical-rhythm/3;
//     color: $text-gray;
//
//     i {
//       background-color: #2b303aab;
//       border-radius: $border-radius-infinite;
//       padding: 5px 12px;
//       margin-right: 5px;
//       font-style: normal;
//     }
//   }
// }

.callout-list {
  display: flex;
  width: $content-wide;
  margin: 0 auto;
  padding: $vertical-rhythm 0;
  @media (max-width: $screen-md-min) {
    width: 100%;
    margin: 0 auto;
    left: 0;
    flex-wrap: wrap;
  }

  .callout-list-item {
    flex-basis: 100%;
    background: $transp-gray;
    color: $text-light-gray;
    text-align: center;
    border-radius: $border-radius-medium;
    // border:1px solid red;
    padding: 10px 20px;
    font-size: 0.8em;
    margin: 10px;
    @media(max-width: $screen-md-min) {
      margin-bottom: $vertical-rhythm;
    }
  }

  .number {
    font-family: $monospace, sans-serif;
    position: relative;
    top: -25px;
    background: $blue;
    color: black;
    text-align: center;
    border-radius: 10000px;
    display: inline-block;
    padding: 0 15px;
  }
}



.green-bg {
  background-color: $light-green;

  figcaption {
    color: $bg-color;

    i {
      background-color: $transp-gray-lighter;
    }
  }
}

.gray-bg {
  background: $transp-gray;
}



.check-before {
  &:before {
    content: '✅';
    position: absolute;
    transform: translateX(-30px);
  }
}




#section-title {
  color: white;
  opacity: 100%;
}

[id^="page-anchor"] {
  padding: 0 !important;
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
  height: 0;
  margin: 0px;
}

.themegreen {
  background-color: #699284;

  * {
    color: white;
  }
}

.themered {
  background-color: #D83A32;
  * {
    color:white;
  }
}

.themeblue {
  background-color: #4D738A;
}

.themegold{
  background-color: #8A774B;
  * {
    color:white;
  }
}

.themepurple{
  background-color: #7339b9;
  * {
    color:white;
  }
}


.themegray{
  background-color: #262729;
  * {
    color:white;
  }
}

.themelightpurple{
  background-color: #7a7998;
  * {
    color:white;
  }
}

.themesand{
  // background-color: #F3A672;

  background: linear-gradient(-45deg, #F3A672, #f39672);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  *{
    color: $bg-color;
  }
}

.themecream{
  background-color: $off-white;
  *{
    color: $bg-color;
  }
}

.project-header {
  height: 100vh;
  @include full-content-width;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-header-content {
  @include medium-content-width;

  a{
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    transition: 0.2s all;
    &::after{
      content: " ↗";
    }
    &:hover{
      opacity: .5;
    }
  }

  p{
    font-size:1em;
    padding-top: $vertical-rhythm/2;
  }

  h2{
    font-size: 2.157em;
    margin-bottom:0.5em;
  }
}

.hero-image {
  @include wide-content-width;
  margin-top: -150px !important;
  margin-bottom: $vertical-rhythm/2;
  position: relative;
}

.logo {
  border-radius: 0 !important;
  max-width: 125px !important;
  margin: 0 auto $vertical-rhythm !important;
}

.icon-small {
  border-radius: 0 !important;
  max-width: 36px !important;
  margin: 0 auto $vertical-rhythm !important;
}

// .animate-on-scroll {
//   margin: $vertical-rhythm 0;
// }



.autoplay-video {
  border-radius: $border-radius-medium;
  overflow: hidden;
  width: 100%;
}

.summary-grid{
  @include wide-content-width;
  // border: 1px solid red;
  display: flex;

  *{
    flex-grow: 1;
    // border: 1px solid red;
    padding: 12px;
  }
}

.writing-link{
  border: 1px solid $transp-gray;
  padding: 24px;
  margin: $vertical-rhythm 0;
  transition: 0.2s all;

  .subhead{
    margin-bottom:8px;
    color: $blue;
  }

  &:hover{
    border: 1px solid $blue;
  }
}

.project-date{
  @include monospace;
  font-size:.9em;
}

.image-group{

  img{
    display: block;
     // max-width:230px;
     max-height:70vh;
     max-width: $content-wide;
     width: auto;
     height: auto;
  }
  &:first-child{
    margin-top: $vertical-rhythm * 2 !important;
  }
  *{
    color:$bg-color;
   // margin-top: $vertical-rhythm / 2 !important;
   // margin-bottom: $vertical-rhythm / 2 !important;

  }
}
