.album-list {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $size-4x;
  grid-row-gap: $size-6x;

  @media (max-width: $screen-xs-min){
    grid-template-columns: 1fr;

  }
  // text-align: center;
  // align-items: center;
  // justify-content: center;
  // padding-bottom: $vertical-rhythm * 2;

  .album{

    &:hover{
      img {
        cursor: pointer;
        opacity: 0.25;
        border-radius: 100%;
        -webkit-animation: spin 8s linear infinite;
        -moz-animation: spin 8s linear infinite;
        animation: spin 8s linear infinite;
        // transform: rotate3d(0, 0, 3.0, 30deg);
      }

    }
  }

  h5 {
    padding-top: $vertical-rhythm / 3;
    margin-bottom: 0;
  }

  img {
    transition: 0.2s all;
    max-height: 300px !important;
    max-width: 300px;
    object-fit: cover;
    left:inherit;
    height: 100%;
    width: auto;
    align-self: center;
    margin: 0 auto;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }


}
