/**
 * ALL THINGS TYPE
 */

$header-font: "Kippenberger";
$header-font-weight: 900;
$header-color: #000;
$body-font: "Graphik";
$body-font-weight: 400;
$monospace: "Fakt Mono";


*{
  font-display: swap;
  // hyphens: auto;

  @media (max-width: $screen-md-min){
    font-size: 98%;
  }

  @media (max-width: $screen-sm-min){
    // font-size: 93%;
  }
}

html{
  font-size:100%;
}

h2,
h3,
h4,
h5,
h6 {
  color:$off-white;
  margin-top: 0;
  margin-bottom:.2em;

  a{
    color: $blue;
  }
  a:hover{
    opacity:.65;
  }
}

h1 {
  @include header;
  font-weight: $header-font-weight;
  color:white;
  margin-top: 0;
  margin-bottom:20px;
  user-select: none;
  font-size: 4.209em;
  letter-spacing: -.02em;
  line-height:.9em;
}

h2 {
  @include header;
  font-weight: $header-font-weight !important;

  font-size: 3.157em;
  line-height: 1.3em;
  letter-spacing: -.03em;

  @media (max-width: $screen-md-min){
    font-size: 2.369em;
  }
}

h3 {
  @include header;
  font-weight: $header-font-weight !important;

  font-size: 2em;
  line-height: 1.3em;
  padding-bottom: $vertical-rhythm/2;

  @media (max-width: $screen-md-min){
    font-size: 1.777em;
  }

}

h4 {
  font-size: 1.777em;
  font-weight: $body-font-weight;
}

h5 {
  font-size: 1.333em;
  font-weight: $body-font-weight;
}

h6{
  font-size:1em;
  line-height: 1.8em;
  font-weight:400;
  margin-bottom: 0em;
}

p {
  @include sans;
  color:$text-gray;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:.9em;
  line-height: 1.8em;
}

p + p {
  margin-top: $vertical-rhythm/3;
}

h6 + p{
  margin-bottom: $vertical-rhythm/2;
}

p {
  a {
    transition: 0.3s all;
    user-select: none;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom:3px;
    transition: 0.1s all;
    color:$blue;
  }

  a:hover{
    opacity:.65;
  }
}

a{
  h3{
    transition: 0.1s all;
    color:$blue;
  }


}

sup{
  @include monospace;
  font-size:.65em;
  color:$text-gray;

}

b {
  font-weight: 500;
}

p > strong{
  letter-spacing: .03em;
}

a{
  color: $text-dark-gray;
}

ol{
  padding-left: 1.5em;
  color:inherit;
}

.subhead{
  // font-family: $monospace, $body-font, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  @include monospace;
  color: $off-white;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: .05em;
  margin-bottom: $vertical-rhythm / 2;
}

button{
  @include monospace;
  color: $text-dark-gray;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .05em;
  background:none;
  color: $blue;
  border: 1px solid #444444;
  border-radius: $border-radius-medium !important;
  transition: all 0.2s;

  &:hover{
    border: 1px solid $blue;
  }

  // &:focus{
  //   border: none !important;
  // }
}

.animated-header {
  font-weight: $header-font-weight;
  overflow: hidden;
}

.animated-header .letter {
  display: inline-block;
  line-height: 1em;
}

.has-dropcap:first-letter{
  @include serif;
  font-weight: $header-font-weight !important;
  font-size:3.8em;
  float:left;
  margin: 0.2em 0.1em 0.1em 0;
}

.term{
  cursor: pointer;
  color: $yellow;
  word-break: break-all;


  &::after{
    content: url('http://i.stack.imgur.com/Icd9n.png');
    width:24px;
    height:24px;
    background: url('/assets/img/icons/info.svg') CENTER CENTER NO-REPEAT;
    padding-left: 4px;

  }
}

li{
  padding-bottom:10px;
  color:inherit;
}

u{
  text-decoration: none;
  color: $green;
  border-bottom: 1px solid $green;
  padding-bottom: 5px;
}

figcaption {
  font-size: 0.8em;
  // padding-bottom: $vertical-rhythm/3;
  @include serif;
  font-style: italic;
  padding-top: $vertical-rhythm/3;
  text-align: center;
  color: $text-gray;

  i {
    background-color: #2b303aab;
    border-radius: $border-radius-infinite;
    padding: 5px 12px;
    margin-right: 5px;
    font-style: normal;
  }

  a{
    text-decoration: underline !important;
    // border-bottom: 1px solid red;
  }
}
