.remove-top-padding{
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.reverse-margin{
  margin-top: $vertical-rhythm !important;
  margin-bottom: $vertical-rhythm * 3 !important;
}

// .two-column-grid{
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-column-gap: 50px;
//
//   @include standard-content-width;
//
//   @media(max-width: $screen-md-min){
//     grid-template-columns: 1fr;
//   }
// }


//---COLUMNS---///
.two-column-grid{

  border-radius: $border-radius-medium;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: $vertical-rhythm;
  grid-row-gap: $vertical-rhythm / 2;
  @include wide-content-width;

  @media(max-width: $screen-md-min){
    background: none;
    grid-template-columns: 1fr;
    @include standard-content-width;

    div {
      padding-bottom: $vertical-rhythm * 2;
    }
  }
}



.project-grid{
  background: $transp-gray;
  grid-column-gap: 0;

  @media(max-width: $screen-md-min){
    background: none;

  }
}

.project-grid-small{
  grid-row-gap: $vertical-rhythm/2;
  h6{
    margin-bottom: -.4em;
  }
}

.three-column-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $vertical-rhythm;
  grid-row-gap: $vertical-rhythm / 2;
  @include wide-content-width;

  @media(max-width: $screen-md-min){
    grid-template-columns: 1fr;
    @include standard-content-width;
  }
}


//---CONTENT WIDTHS---///
.content-wide{
  @include wide-content-width;
}

.content-standard{
  @include standard-content-width;
}

.content-full{
  @include full-content-width;
  padding-top: $vertical-rhythm;
  padding-bottom: $vertical-rhythm;
  // max-height: 80vh;

  img{
    // max-height: 50vh;
    // width: 100%;
    // height: 100%;
  }
}


//---SPACERS---///

.spacer-1x {
  height: $vertical-rhythm;
}
.spacer-2x {
  height: $vertical-rhythm * 2;
}

//---HELPERS---//

.iframe-wrapper{
  transform: translateY(0px);
  margin: 0 auto;
}

// .remove-margin-bottom {
//   margin-bottom: 0 !important;
// }
//
// .remove-padding-bottom {
//   padding-bottom: 0 !important;
// }

//--TYPE--//
.text-center{
  text-align: center;
}
