// LAYOUTS
//CONTENT WIDTHS
$content-standard: 700px;
$content-fullwidth: 100vw;



$vertical-rhythm: 48px;

//MISC STYING
$border-radius-standard: 8px;

// MAIN COLORS
$card-color:white;
$bg-color: #2A2C33;

$divider: #D6DBE1;

$gray-hover: #f5f4f4;
$gray-outline: #d3d3d5;


$gray: #3c3c3c;
$blue: #0918c7;
$green: #50FA7F;
$light-green: #9EB2AB;
$orange: #ffa61a;
$off-white: #E9EDEA;
$yellow: #FFE928;
$red: #e71a1a;
$pink: #E5AFA7;
$active-link: $pink;

$purple-700: #2B088C;
$purple-200: #d1c7f1;
$purple-100: #F1EDFE;

$bg-gray: #222225;
$transp-gray: #282e3978;
$transp-gray-lighter: #282e3929;


// TYPE COLORS
$text-gray: #5C6774;

// ANIMATIONS
$quickest: 0.4s;
$quick: 0.6s;
$slow: 1s;
$slowest: 1.5s;

// BREAKPOINTS
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1240px;
$screen-xl-min: 1920px;

// SIZING
$base-unit: 4px;
$size-1x: 1 * $base-unit;
$size-2x: 2 * $base-unit;
$size-3x: 3 * $base-unit;
$size-4x: 4 * $base-unit;
$size-5x: 5 * $base-unit;
$size-6x: 6 * $base-unit;
$size-7x: 7 * $base-unit;
$size-8x: 8 * $base-unit;
$size-10x: 10 * $base-unit;
$size-12x: 12 * $base-unit;
$size-16x: 16 * $base-unit;
$size-24x: 24 * $base-unit;
