//----------------------//
//------BLOG/WORDS------//
//----------------------//
.next-section-wrapper{
  margin: 0 auto;
  max-width: $content-standard;
  width: 100%;

}

ul{
  padding-left: 0;

  li{
    font-size: .875rem;
    border-radius: $border-radius-standard;
    @include monospace;
    background-color: $gray-hover;
    padding: $size-4x;
    list-style: none;
  }
}

.next-section{
  @include hoverScale;
  user-select: none;
  border-radius: $border-radius-standard;
  background-color: #2e363d;
  padding: $size-12x;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  // border: 2px solid $gray-hover;

  @media (max-width: $screen-sm-min) {
    margin-bottom: $size-10x;
  }



  // max-width: $content-standard;
  width: 100%;
  border-radius: $border-radius-standard;

  &:hover{
    transform: scale(1.05) rotate(-1deg);
    cursor: pointer;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  }

  img{
    object-fit: cover;
    width: 100px;
    height: 100px;

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }


}

.blog-post {

  // p {
  //   a {
  //     border-radius: 0px;
  //     background: none;
  //     transition: 0.3s all;
  //     user-select: none;
  //     padding: 0px;
  //     transition: 0.1s all;
  //     color:$active-link;
  //     text-decoration: underline;
  //     border: none !important;
  //
  //   }
  //
  //   a:hover{
  //     opacity:.65;
  //     border: none !important;
  //
  //   }
  //
  // }
  p + p {
    margin-bottom: $vertical-rhythm/2;
  }

  .content {
    border-radius: 0px;
  }

  strong{
    font-weight: 500;
  }



}

.blog-home {
  h3 {
    text-align: center;
  }
}

.blog-markdown {
  // padding: $size-12x;


  blockquote{
    margin: 0px $size-3x 0 0;
    display: inline-block;

    a{
      @include delicious-button;
    }


  }

  img{
    @media (min-width: $screen-sm-min){
     max-width: 700px;
     width: 100vw;
     position: relative;
     left: calc(-350px + 50%);
   }
  }

  h4{
    padding-bottom: $size-2x;
  }

  @media (max-width: $screen-md-min) {
    padding: 0;
  }

  // a{
  //   opacity: 1 !important;
  //   user-select: none;
  //   background:$purple-100;
  //   color: $purple-700;
  //   transition: all 0.2s;
  //   border-radius: $border-radius-standard;
  //   border: 0px;
  //   padding: $size-2x $size-3x;
  //   max-height:$size-12x;
  //   border: 1px solid white;
  //
  //   &:hover{
  //     border: 1px solid $purple-200;
  //   }
  // }

  h3{
    margin-bottom:.7em;
  }


  p {
    margin-bottom: $size-6x;
  }

  img{
    margin-bottom: $size-6x;
  }

  hr{
    margin: $size-12x 0 $size-12x 0;

  }
  // align-items: center;
  img + em {
    font-style: normal;
    font-family: $monospace, $body-font, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 0.9em;
    color: $text-gray;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  // img + em::before {
  //   font-family: "Font Awesome 5 Free";
  //   font-weight: 900;
  //   content: "\f007";
  //   content: "↳";
  //   padding-right: 15px;
  //   color: #7f7f7f;
  // }

  .blog-video {
    width: 100%;
    padding-bottom: $size-12x;

  }
}

.full-page-content{
  @media (max-width: $screen-md-min) {
    padding: $size-4x;
  }
  padding-top: $size-10x;
}


.blog-wrapper {
  margin-bottom: $size-8x;
}

.blog-entry {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: $size-8x;
  @media(max-width: $screen-md-min) {
    grid-template-columns: 1fr;
    margin-bottom: $size-12x;
    grid-gap: $size-4x;
  }

  img {
    border-radius: $border-radius-standard;
    transition: 0.3s all;
    height: 100%;
    object-fit: cover;
  }
}

.post-image {
  height: $size-24x;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  @media(max-width: $screen-sm-min) {
    height: 30vh;
  }
}


.post-intro{
  position: relative;
  user-select: none;

}

.post-header {

  position: absolute;
  top: 28%;
  text-align: center;

  left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;
  background: white;
  max-width: $content-standard;
  padding: $size-12x $size-12x $size-16x $size-12x;
  border-radius: $border-radius-standard;

  .subhead{
    color: #3f464d;
  }


  p{
    color: #3f464d;
  }

}

.post-hero-image {
  // width: $content-standard;
  margin: 0 auto;
  border-radius: 0px;
  filter: brightness(.4);
  height:100vh;
  object-fit: cover;

  @media (max-width: $screen-sm-min){
    height: 66vh;
  }

}




.img-wrapper {
  display: inline-block;
  overflow: hidden;
  height: 300px;
  border-radius: $border-radius-standard;
  transition: all 250ms;

}

#read-more {
  border-bottom: 1px solid $text-gray;
  padding-top: $size-2x;
}

.blog-entry:hover {
  cursor: pointer;


  .img-wrapper {
    // transform: scale(1.1);
    transform: scale(1.05) rotate(-1deg);
  }

  #read-more {
    // opacity:1;
    // opacity:1 !important;
    color: $active-link;
    border-bottom: 1px solid $active-link;
    // border-bottom: 1px solid $red;
  }
}

.code-type {
  // text-align: right;
  // position: absolute;
  z-index: -5;
  // margin-bottom: 5px !important;
  display: table;
  text-align: center;
  background-color: $bg-gray;
  padding: 5px 10px;
  border-radius: 3px;
}

code {
  // background-color: $gray-hover;
  // border-radius: 3px;
  // padding: $size-1x $size-2x;
}

pre {
  font-family: $monospace, $body-font, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}

.highlight pre {
  background-color: $bg-gray;
  padding: 0 25px;
  margin: $size-12x 0;
  font-size: 0.9em;
}

.highlight .hll {
  background-color: #f1fa8c;
}

.highlight {
  background: #282a36;
  color: #f8f8f2;
}

.highlight .c {
  color: #6272a4;
}
/* Comment */
.highlight .err {
  color: #f8f8f2;
}
/* Error */
.highlight .g {
  color: #f8f8f2;
}
/* Generic */
.highlight .k {
  color: #ff79c6;
}
/* Keyword */
.highlight .l {
  color: #f8f8f2;
}
/* Literal */
.highlight .n {
  color: #f8f8f2;
}
/* Name */
.highlight .o {
  color: #ff79c6;
}
/* Operator */
.highlight .x {
  color: #f8f8f2;
}
/* Other */
.highlight .p {
  color: #f8f8f2;
}
/* Punctuation */
.highlight .ch {
  color: #6272a4;
}
/* Comment.Hashbang */
.highlight .cm {
  color: #6272a4;
}
/* Comment.Multiline */
.highlight .cp {
  color: #ff79c6;
}
/* Comment.Preproc */
.highlight .cpf {
  color: #6272a4;
}
/* Comment.PreprocFile */
.highlight .c1 {
  color: $text-gray;
}
/* Comment.Single */
.highlight .cs {
  color: #6272a4;
}
/* Comment.Special */
.highlight .gd {
  color: #8b080b;
}
/* Generic.Deleted */
.highlight .ge {
  color: #f8f8f2;
  text-decoration: underline;
}
/* Generic.Emph */
.highlight .gr {
  color: #f8f8f2;
}
/* Generic.Error */
.highlight .gh {
  color: #f8f8f2;
  font-weight: bold;
}
/* Generic.Heading */
.highlight .gi {
  color: #f8f8f2;
  font-weight: bold;
}
/* Generic.Inserted */
.highlight .go {
  color: #44475a;
}
/* Generic.Output */
.highlight .gp {
  color: #f8f8f2;
}
/* Generic.Prompt */
.highlight .gs {
  color: #f8f8f2;
}
/* Generic.Strong */
.highlight .gu {
  color: #f8f8f2;
  font-weight: bold;
}
/* Generic.Subheading */
.highlight .gt {
  color: #f8f8f2;
}
/* Generic.Traceback */
.highlight .kc {
  color: #ff79c6;
}
/* Keyword.Constant */
.highlight .kd {
  color: #8be9fd;
  font-style: italic;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #ff79c6;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #ff79c6;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #ff79c6;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #8be9fd;
}
/* Keyword.Type */
.highlight .ld {
  color: #f8f8f2;
}
/* Literal.Date */
.highlight .m {
  color: #bd93f9;
}
/* Literal.Number */
.highlight .s {
  color: #f1fa8c;
}
/* Literal.String */
.highlight .na {
  color: #50fa7b;
}
/* Name.Attribute */
.highlight .nb {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Builtin */
.highlight .nc {
  color: #50fa7b;
}
/* Name.Class */
.highlight .no {
  color: #f8f8f2;
}
/* Name.Constant */
.highlight .nd {
  color: #f8f8f2;
}
/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
}
/* Name.Entity */
.highlight .ne {
  color: #f8f8f2;
}
/* Name.Exception */
.highlight .nf {
  color: #50fa7b;
}
/* Name.Function */
.highlight .nl {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Label */
.highlight .nn {
  color: #f8f8f2;
}
/* Name.Namespace */
.highlight .nx {
  color: #f8f8f2;
}
/* Name.Other */
.highlight .py {
  color: #f8f8f2;
}
/* Name.Property */
.highlight .nt {
  color: #ff79c6;
}
/* Name.Tag */
.highlight .nv {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Variable */
.highlight .ow {
  color: #ff79c6;
}
/* Operator.Word */
.highlight .w {
  color: #f8f8f2;
}
/* Text.Whitespace */
.highlight .mb {
  color: #bd93f9;
}
/* Literal.Number.Bin */
.highlight .mf {
  color: #bd93f9;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #bd93f9;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #bd93f9;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #bd93f9;
}
/* Literal.Number.Oct */
.highlight .sa {
  color: #f1fa8c;
}
/* Literal.String.Affix */
.highlight .sb {
  color: #f1fa8c;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #f1fa8c;
}
/* Literal.String.Char */
.highlight .dl {
  color: #f1fa8c;
}
/* Literal.String.Delimiter */
.highlight .sd {
  color: #f1fa8c;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #f1fa8c;
}
/* Literal.String.Double */
.highlight .se {
  color: #f1fa8c;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #f1fa8c;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #f1fa8c;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #f1fa8c;
}
/* Literal.String.Other */
.highlight .sr {
  color: #f1fa8c;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #f1fa8c;
}
/* Literal.String.Single */
.highlight .ss {
  color: #f1fa8c;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
  font-style: italic;
}
/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #50fa7b;
}
/* Name.Function.Magic */
.highlight .vc {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Variable.Instance */
.highlight .vm {
  color: #8be9fd;
  font-style: italic;
}
/* Name.Variable.Magic */
.highlight .il {
  color: #bd93f9;
}
/* Literal.Number.Integer.Long */
