.project{
    h1{
        text-align: center;
    }

    .video-embed{
        // margin: 0 auto;
        margin-top:48px;

        border-radius: $border-radius-default;
        overflow: hidden;
    }
}

.video-embed-wrapper{
    max-width:985px;
    margin: 0 auto;

}

.project-header{
    text-align: center;
    max-width:500px;
    display: flex;
    flex-direction: column;
    gap:16px;
    margin: 72px auto;
    padding:64px;
    background-color: white;
    border-radius:16px;

    
}

.video-embed{
    margin-bottom:12px;
}

.main-content{
    max-width:650px;
    margin: 72px auto;

    h3{
        padding-bottom:12px;
    }

    img{
        width: 100%;
        height: auto;
        border-radius: 12px;
        margin: 24px 0 12px 0;
    }

   
}

figcaption{
    font-size:.85rem;
    padding-bottom:12px;
    text-align:center;
}


.companydate{
    font-size:.85rem;
    font-weight: 500;
    margin-bottom:0;
}