.project{
    h1{
        text-align: center;
    }

    .video-embed{
        max-width:100%;
        margin-top:48px;
        border-radius: $border-radius-default;
        overflow: hidden;
    }
}

.project-header{
    text-align: center;
    max-width:60ch;
    display: flex;
    flex-direction: column;
    gap:16px;
    margin: 0 auto;
}