/* css variables*/

:root {
  --primary-color: #432E30;
  --primary-color-light: #01E177;
  --accent-color: #01E177;
  --accent-color-light: #888c20;
  --accent-color-dark: #6f721a;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #7B8590;
  --bg-color: #F8F8FA;
  --code-bg-color: #F0E8E8;

}

/* normalized */

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #3A8CF7;
}

h1{
  font-family: 'Roboto Slab', serif;
}

h2{
  color:white;
  font-size: 20px;
  text-shadow:
}

li{
  color: #8E8E8E;
}


p{
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 300;
  color: #8e8e8e;
  font-size:14px;
  line-height: 20px;
}

a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--bg-color);
}

* {
  box-sizing: border-box;
}

/* global components */

/* typography */

.section__title {
  color: var(--primary-color);
}

/* tabs */

.tab__container {
  position: relative;
}

.tab__container>ul {
  position: absolute;
  list-style: none;
  margin: 0;
  right: 1rem;
  top: -2rem;
  padding-left: 0;
}

.tab__container .code {
  white-space: normal;
  padding: 1rem 1.5rem;
}

.tab {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-weight: 200;
  cursor: pointer;
}

.tab.active {
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
  display: inline-block;
}

.tab__pane {
  display: none;
}

.tab__pane.active {
  display: block;
}

/* code */

.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background: var(--bg-color);
  border: 1px solid var(--code-bg-color);
  color: var(--primary-color-light);
}

.code--block {
  white-space: pre-line;
  padding: 0 1.5rem;
}

.code--inline {
  padding: 3px 6px;
  font-size: 80%;
}

/* buttons */

.button--primary {
  padding: 10px 22px;
  background-color: var(--accent-color);
  border-radius: 6px;

  color: white;
  position: relative;
  text-decoration: none;
  border: 0;
  transition: all .3s ease-out;
}



.button--primary:hover {
  /* text-shadow: 0px 1px 1px var(--accent-color-dark); */
  /* color: white; */
  /* transform: translate3D(0, -3px, 0); */
}

.button--primary:hover::after {
  transform: rotate(90deg);
}

.button--secondary {
  padding: 10px 22px;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease-out;
}

.button--secondary:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* links */

.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor:pointer;
}

.link:hover {
  color: white;
}

.link--dark {
  color: #1f487a;
  font-size: 13px;
}

.link--light {
  color: white;
}

/* menu */

nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.menu {
  padding-right:0px !important;
  float:right;
  display: inline-block;
  margin-top:-6px;
  text-align: right;
  overflow: hidden;
  list-style: none;
}

.toggle {
  display: none;
  position: relative;
}

.toggle span, .toggle span:before, .toggle span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: var(--primary-color);
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.toggle span:before {
  top: -6px;
}

.toggle span:after {
  bottom: -6px;
}

.toggle.open span {
  background-color: transparent;
}

.toggle.open span:before, .toggle.open span:after {
  top: 0;
}

.toggle.open span:before {
  transform: rotate(45deg);
}

.toggle.open span:after {
  transform: rotate(-45deg);
}

.menu__item {
  padding: 1rem;
  display: inline-block;
}



.menu__item.toggle {
  display: none;
}

#topper{
  margin-top:50px;
  margin-left: 5%;
  width:90%;
}

#logoTopper{
  width:120px;
  position:relative;
  display: inline-block;

}

.topBar {
   display: flex;
   justify-content: center;
   align-items: center;
}

.topBarBG {
  width: 100%;
  /* background-color: #7B838E; */
  /* background-image: url("images/home/graybg.jpg"); */
  padding-top: 50px;
  padding-bottom: 100px;
}

#me{
  width:35%;
  min-width: 100px;
  /* position: absolute; */
  margin-top:-200px;
  margin-bottom:0px;
  padding-bottom: 0px;

}

.imgWrap{


    position:relative;
    display:inline-block;
}


#slogan {
  text-shadow: 0 2px white;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b8bec5;
  /* display: flex; */
  justify-content: left;
  align-items: left;
}



/* table */

table {
  border-collapse: collapse;
  width: 100%;
  transition: color .3s ease-out;
  margin-bottom: 2rem;
}

table td, table th {
  border: 1px solid var(--code-bg-color);
  padding: 0.8rem;
  font-weight: 300;
}

table th {
  text-align: left;
  background-color: white;
  border-color: white;
  border-bottom-color: var(--code-bg-color);
}

table td:first-child {
  background-color: var(--bg-color);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: 70px auto;
  }
  .menu__item {
    display: none;
  }
  .menu__item.toggle {
    display: inline-block;
  }
  .menu {
    text-align: right;
    padding: 0.5rem 1rem;
  }
  .toggle {
    display: block;
  }
  .menu.responsive .menu__item:not(:first-child) {
    display: block;
    padding: 0 0 0.5rem 0;
  }
}

/* layout */

.hidden{
  display:none;
}

.innerContent{
  margin-top:-45px;
  margin-bottom:50px;
  overflow: hidden;
}



.mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.snippet{
  position: relative;
  display: block;
  width:90%;
  margin-top:-60px;
  padding-top:0px;
  /* background-color:#fff; */
  /* border-radius: .25rem;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7; */

}

.snippetNext{

  position: relative;
  display: block;
  width:90%;
  margin-top:30px;
  padding-top:0px;
  background-color:#fff;
  border-radius: .75rem;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;

}
.subCard{
  margin-top:35px;
  margin-left:3px;
  margin-bottom:55px;
  position: relative;
  display: inline-block;
  width:32%;
  text-align: left;
  padding:20px;
  background-color:#fff;
  border-radius: .25rem;
box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;

}

.cardTop{
  margin:-20px;
  width:calc(100% + 40px);
  padding-bottom:25px;
  /* background-color:#000; */
}

.subCard:hover{
  box-shadow: 0 0.4rem 1.5rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;
}



.wrapper {
  text-align:center;

  margin: 0 auto;
  /* padding-top:50px; */
  width: 90%;


}

.footer {
  text-align: center;
  background-color: #F6F6F6;
  padding: 2rem;
  color: white;
}

/* #search{
  border-radius: 4px;
  margin:15px;

} */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.box{
  margin: 50px auto;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 .icon{

  position: absolute;

  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #3F8EF4;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #1f487a;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #3F8EF4;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.noFrame{
  text-align: center;
  width:90%;
  margin-left: 5%;
}

.noFrame > img{
  margin-top:25px;
  width:60%;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width:700px){
  .subCard{
    margin-top:5px;
    margin-bottom:25px;
    width:100%;
  }

  .changelog__meta{
    text-align:left !important;
  }
}
