---
import Layout from '../layouts/Layout.astro';
import WritingPreview from '../components/WritingPreview.astro';
import Introduction from '../components/Introduction.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/styles.css';

export const prerender = true;
---

<Layout title="Oliver Engel – Software Designer">
	<main>
		<Navigation />



		<div class="image-pile fadeIn">
			
			<img class="about-img1 skew-left" src="/src/assets/img/about/about02.jpg" alt="Photo of Oliver" height="370" width="250">
			<img class="about-img2 skew-right" src="/src/assets/img/about/about01.jpg" alt="Photo of Oliver" height="370" width="250">
			<img class="about-img3 skew-left" src="/src/assets/img/about/about03.jpg" alt="Photo of Oliver" height="370" width="250">
			<img class="about-img4 skew-right" src="/src/assets/img/about/about04.jpg" alt="Photo of Oliver" height="370" width="250">

		</div>

		<h1 class="subdued">Designing software in Seattle, WA.</h1>
		<h1>Lover of 80’s music, thrift stores, good typography, and BBQ.</h1>

		<div class="about-content">
			<p>I grew up in the Bay Area, studied art and computer science in San Diego, and now live in Ravenna, Seattle.</p>
			<!-- <p>I've been working as a designer for over 5 years, and before that spent a number of years doing creative work in everything from creative coding to </p> -->
			<p>After many years working on design systems, I’ve recently transitioned into a full-time role working on Rosetta, Handshake’s design system. I’ll be working on strategic projects and maturing the design system practice.</p>
			<!-- <p>On the side, I’m passionate about making free resources for other designers. I recently released <a href="https://www.theinterviewkit.com/">The Interview Kit</a>, a comprehensive walkthrough of the product design interview process.</p> -->
			<hr>
		</div>

		

		<h2>Currently listening to...</h2>

		<div class="album-list">
			<a class="album" href="https://open.spotify.com/album/1ZTd9cM6FPWW4ZP0qUwhpF?si=5bHfIlW0QMGlo9FZYgKwTw">
				<img class="" src="/src/assets/img/about/sandhills.jpg" alt="Sandhills album cover, Toro y Moi" height="700" width="700">
				<h2>Sandhills <span class="subdued">Toro y Moi</span></h2>
			</a>

			<a class="album" href="https://open.spotify.com/album/2kvz9frUn3LUK83imD2BQS?si=Pe8QU3S5Sm6dksAyWMBHhw">
				<img class="" src="/src/assets/img/about/clanton.jpg" alt="Ooh Rap I Ya album cover, George Clanton" height="700" width="700">
				<h2>Ooh Rap I Ya <span class="subdued">George Clanton</span></h2>
			</a>

			<a class="album" href="https://open.spotify.com/album/5cyu3tkdmGoB0BC0EJfz2V?si=91b1f4e80672407f">
				<img class="" src="/src/assets/img/about/bunny.jpg" alt="Bunny album cover, Beach Fossils" height="700" width="700">
				<h2>Bunny <span class="subdued">Beach Fossils</span></h2>
			</a>
		</div>

		<!-- <div class="about-content">
			<hr>

			<p>In my free time, I enjoy making free resources for designers on Figma Community.
		</div> -->



		<Footer />

	</main>

</Layout>




<style>

	main *{
		/* @media (max-width: 600px) {
        	text-align: left !important;
      	} */
	}

	.album-list{
		display: flex;
		flex-wrap: wrap;
		gap:32px;
		margin: 0 auto;
		width:100%;
		justify-content:center;
		padding-top:24px;

		/* @media (max-width: 600px) {
        	text-align: left !important;
			justify-content: left;
      	} */
	}

	.album{
		display:flex;
		flex-direction:column;
		align-items:center;
		gap:24px;

		/* @media (max-width: 600px) {
        	text-align: left !important;
			align-items:start;
      	} */

	}

	

	.album img{
		width:300px;
		height:300px;
		border-radius: var(--border-radius-default);

		/* @media (max-width: 600px) {
        	width:100%;
      	} */
	}

	.about-content{
		max-width:58ch;
		margin: 0 auto;
		padding-top:48px;
	}

	h1, h2{
		text-align:center;
	}


	/* .about-img{
		width:100%;
		height: auto;
		max-width:250px;
	} */

	.about-img4{
		@media (max-width: 960px) {
			display:none;
		}
	}

	.about-img3{
		@media (max-width: 710px) {
			display:none;
		}
	}

	.about-img2{
		@media (max-width: 512px) {
			display:none;
		}
	}
	

	.skew-left{
		transform: rotate(-2deg);
		transition: 0.2s all;
	}

	.skew-left:hover{
		transform: rotate(0deg);
	}

	.skew-right{
		transform: rotate(2deg);
		transition: 0.2s all;

	}

	.skew-right:hover{
		transform: rotate(0deg);
	}

	.image-pile{
		width:100%;
		display:flex;
		margin: 48px auto;
		justify-content:center;
	}

	.image-pile img{
		border-radius: var(--border-radius-default);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.image-pile:nth-child(1) {
		border: 10px solid red;
	 }
</style>