---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Introduction from '../components/Introduction.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

import Portrait from '../components/Portrait.astro';
import WritingPreview from '../components/WritingPreview.astro';


export const prerender = true;
---

<Layout title="Oliver Engel – Software Designer">
	<main>
		<!-- <Introduction link={"/words"} page={"Writing"} /> -->
		<Navigation />

		<div class="fadeIn" style="display:flex; gap:24px; padding: 48px 0; align-items:center">
			<div>
				<div class="page-header">
					<p class="subhead">Software design + design systems </p>
					<h1>Hello Internet user, I’m Oliver. <span class="subdued">Currently working on design systems & AI at Handshake and making free resources for designers.</span></h1>
					<!-- <hr> -->

					<div class="link-row">
					
						<a href="https://www.figma.com/@oe">
							<img src="/src/assets/figma.svg" alt="Figma logo" height="32" width="32">
							<p>Figma Community</p>
						</a>

						<a href="https://www.linkedin.com/in/oengel/">
							<img src="/src/assets/linkedin.svg" alt="LinkedIn logo" height="32" width="32">
							<p>LinkedIn</p>
						</a>
						<!-- <img class="portrait" style="width: 248px; " src="/src/assets/portrait.jpg"> -->
		
				</div>

				</div>
				
				
			</div>

			<Portrait />

			<!-- <img class="portrait" style="width: 248px; height:100% " src="/src/assets/portrait.jpg"> -->


		</div>


		<section class="card-list">
			<p class="subhead">Latest resource</p>

			<Card href="https://www.theinterviewkit.com/" title={"The Interview Kit"} body={"Guide to design interviews"} img={"/src/assets/interviewkit.png"}/>
		</section>

		<!-- <p class="subhead">Links</p>

		<a href="">The Interview Kit</a> -->


		
		
<!-- 
		<div class="intro-section">
			<div class="card">
				<h3>Hello Internet user, I’m Oliver – a software designer.</h3>
				<p>Lover of interface design, typography, Hawaiian shirts, Radiohead, Belgian beer, IDM, photography, cinematography, thrift stores, typography, illustration, motion design, PF Flyers, creative coding... did I mention typography?</p>

			</div>
			<img style="width: 100%; " src="/src/assets/portrait.jpg">
		</div> -->

		<!-- <h4 class="section-title">Hello Internet user, I’m Oliver – a software designer.</h4> -->


		<!-- <section class="card-list">
			<p class="subhead">Latest resource</p>

			<Card href="https://www.theinterviewkit.com/" title={"The Interview Kit"} body={"Guide to design interviews"} img={"/src/assets/interviewkit.png"}/>
		</section> -->
<!-- 
		<div class="tester">
			
			<a href="" class="tester-card">
				<p>The Interview Kit</p>
				<img src="/src/assets/interviewkit.png">
			</a>

			<a href="" class="tester-card">
				<p>The Interview Kit</p>
				<img src="/src/assets/interviewkit.png">
			</a>
		</div> -->

		

		<Footer />




	</main>


</Layout>


<style>

	.tester-card{
		display: flex;
		flex-direction: column;
		align-items: start;
		max-height:300px;
		background-color: var(--background-secondary);
		padding:32px 32px 0 32px;
		width:100%;
		border-radius: var(--border-radius-default);
	}

	.tester-card img{
		height:auto;
		width:100%;
	}

	.tester{
		display: flex;
		flex-wrap: ;
		/* grid-template-columns: 1fr 1fr; */
		gap:24px;
		height: fit-content;
		max-width:100%;

	}

	a{
		display: flex;
		align-items: center;
		gap:8px;
		color:var(--text-secondary);
	}

	a img{
		width:24px;
		border-radius: 0;
		transform: translateY(-3px);
	}

	a p{
		transition: 0.2s all;
	}

	a p:hover{
		color:white;
	}



	.link-row{
		display: flex;
		gap:48px;
		padding-top:24px;
	}

	.link-row a{
		border-bottom: none;
	}

	.link-row a:hover{
		border-bottom: none;
	}

	.page-header{
		padding: 64px 0;
		display: flex;
		flex-direction: column;
		gap:12px;

		@media (max-width: 600px) {
			padding: 0;
		}
	}

	.page-header h1{
		max-width:42ch;

	}
	
	.section-title{
		text-align: center;
		padding-top:48px;
		padding-bottom: 24px;
	}

	p span{
		color: var(--text-secondary);
	}

	.subhead{
		padding-top: 24px;
	
	}

	.subgrid{
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		
		/* grid-auto-flow: column; */


		gap:24px;
	}

	.card{
		background-color: var(--background-secondary);
		border-radius: var(--border-radius-default);
		border: 2px solid var(--background-secondary);
		transition: 0.2s all;
		height:fill;
		height: -webkit-fill-available;
	}

	.card:hover{
		border: 2px solid var(--accent);

	}

	.card a{
		display: flex;
		justify-content: space-between;
		padding:24px 48px;
		border-bottom: none;

	}

	.card a img{
		width:32px;
	}

	p{
		margin-block-end: 0em;;
	}

	.intro-section{
		display:grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 24px;
			
	}

	.intro-section .card{
		background-color: var(--background-secondary);
		padding:48px;
		border-radius: 16px;
		/* text-align: center; */
		/* margin: auto; */
		
	}

	.intro-section img {

			border-radius: 16px;
		
	}

</style>