---
import Layout from '../layouts/Layout.astro';
import WritingPreview from '../components/WritingPreview.astro';
import Introduction from '../components/Introduction.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/styles.css';

export const prerender = true;
---

<Layout title="Oliver Engel – Software Designer">
	<main>
		<Navigation />

		<section class="card-list">
			<WritingPreview href="/words/data-driven-design" title={"Data-driven design"} body={"Learning how to make decisions with data"} date={"2022"}/>
			<WritingPreview href="Hi" title={"Portfolio presentations for designers"} body={"Guide and accompanying Figma file"} date={"2022"}/>
		</section>
	</main>
</Layout>