@font-face {
    font-family: 'Moderat';
    src: url('subset-Moderat-Bold.woff2') format('woff2'),
        url('subset-Moderat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

