---
export interface Props {
	title: string;
	body: string;
	href: string;
	img: string;
}

const { href, title, body, img } = Astro.props as Props;
---

<li class="project-card">
	<a href={href}>
		<div>
			<p>
				{title}
			</p>
			<p class="subdued">
				{body}
			</p>
		</div>

		<img class="fadeIn" src={img}>

	</a>
</li>
<style>

	.project-card {
		transition: 0.2s all;
		max-height:500px;
		/* animation: .3s ease-out 0s 1 cardAnimate; */
		width: fill;
		list-style: none;
		display: flex;
		/* padding: 24px; */
		background-color: var(--background-secondary);
		border-radius: 16px;
		border: 2px solid var(--background-secondary);
		overflow: hidden;
		position:relative;
		padding:32px 32px 0 32px;

		@media (max-width: 800px) {
			/* aspect-ratio: 1 / 1; */
			padding:24px 24px 0 24px;


      	}

	}


	.project-card img{
		max-width:100%;
		height:auto;
		padding-top:24px;
	}



	.project-card:hover img {
		transform: scale(1.05);
	}


	/* @keyframes cardAnimate {
		0% {
			transform: translateY(5%);
		}
		100% {
			transform: translateY(0);
		}
		} */



	.imagery{
		display: flex;
		flex-direction: row;
		gap: 12px;
		padding-top: 16px;
		align-items: stretch;
	}

	img{
		transition: 0.2s all;
		z-index:-5;
		/* border: 1px solid var(--text-secondary); */
		border-radius: 16px;
		/* width: 100%; */
		height:100%;
		width:auto;
		margin: 0 auto;

		/* position: absolute; */
	}

	.project-card > a {
		width: 100%;
		height:fit-content;
		text-decoration: none;
		line-height: 1.4;
		border:none;
		/* padding: 1em 1.3em;
		opacity: 1;
		border:none;
		padding: 32px; */

		@media (max-width: 600px) {
			/* padding:24px; */

      	}
	}

	.project-card:hover{
		border: 2px solid var(--accent);

	}

	.project-card > a:hover{
		border: none;
	}

	p{
        margin: 0;
    }

</style>
