---
import Avatar from '../components/Avatar.astro';
import ContactModal from '../components/ContactModal.astro';


---

<section class="nav-wrapper">
     <nav>
        <div class="remove-on-mobile fixed" ><Avatar /></div>
        <!-- <div class="fixed"><a href="/" >Oliver</a></div> -->
        <!-- <a href="/" > <img class="profile-pic" src="/assets/img/misc/portrait2.jpg"> </a> -->
        <section class="main-nav-links">
            <a class="active" href="/">Home</a>
            <!-- <a href="/words">Resources</a> -->
            <a href="/about">About</a>
        </section>

      
        <div class="fixed"><button data-micromodal-trigger="contact-modal" class="secondary-button" >Say Hey</button></div>
      
    </nav>
</section>

<div class="modal micromodal-slide" id="contact-modal" aria-hidden="true">
    <div class="modal__overlay"  data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
            <h2>Wanna chat?</h2>
            <p>Open to side projects, questions, or anything else.</p>
        </header>
        <div class="modal__content" id="modal-1-content" >            
            <button class="tooltip" id="copy-button">oliverengel6@gmail.com
                <span class="tooltiptext">Click to copy</span>
            </button>
            <button autofocus class="modal__close" aria-label="Close modal" data-micromodal-close>Close</button>
        </div>
  
      </div>
    </div>
  </div>




<style>

    .tooltip{
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        transform: rotate(0deg);

        opacity:0;
        /* visibility: hidden; */
        /* width: 120px; */
        background-color: var(--background);
        color: #fff;
        text-align: center;
        padding: 6px 8px 5px 8px;
        border-radius: 6px;
        font-size:.7rem;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 80%;
        left: 0;
        right: 0;
        max-width: fit-content;
        margin: 0 auto;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
        transform: rotate(2deg);

    }

    .tooltip:hover .tooltiptext {
        /* visibility: visible; */
        opacity: 1;
        transition: opacity 0.3s;
		/* transform: rotate(2deg); */

        }

    .modal h2 {
        color:var(--background);
    }

    #copy-button{
        transition: 0.2s all;
        height:72px;
    }

 

    .remove-on-mobile{
        @media (max-width: 480px) {
        display:none;
      }

    }

    .nav-wrapper{
        padding: 48px 0;
    }

    nav{
        z-index: 1006;
        user-select: none;
        justify-content: space-between;
        font-size:.875rem;
        line-height: .875rem;
        text-align:center;
        /* width: 100%; */
        display:flex;
        align-items: center;
    }

    .main-nav-links{
        /* border:1.5px solid #ffffff1f; */
        border-radius: var(--border-radius-max);
        /* padding:8px; */
        display:flex;
        gap: 8px;
    }

    a {
        border-radius: var(--border-radius-max);
        /* height: 48px; */
        padding: 10px 12px 8px 12px;
        text-decoration:none;
        color: var(--text-primary);
        border-bottom:none !important;

    }

    a.active{
        background-color: #ffffff1c;
    }

    a.hover{
        border-bottom:none !important;

    }

    .fixed{
        width:75px;
        display:flex;
    }




</style>

<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>



<script>

    let success = new Audio('/assets/sounds/success.mp3');



    const tooltipTrigger = document.querySelector(".tooltip");
    const tooltipText = document.querySelector(".tooltiptext");

    tooltipTrigger.addEventListener('click', function() {
        console.log("shittin");
        success.play();


        navigator.clipboard.writeText("oliverengel6@gmail.com");
        tooltipText.innerHTML = "Email copied!";

        


        setTimeout(function() { 
            tooltipText.innerHTML = "Click to copy";
         }, 3000);
    
    }, false);




    const nav = document.querySelector(".main-nav-links");
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
      if (link.href === currentURL) {
        link.classList.add("active");
      }

      else{
        link.classList.remove("active");
      }
    });


    



    document.addEventListener("DOMContentLoaded", function() {
        try {
        MicroModal.init({
            awaitCloseAnimation: true,// set to false, to remove close animation
            onShow: function(modal) {
            console.log("micromodal open");
            },
            onClose: function(modal) {
            console.log("micromodal close");
            }
        });
        } catch (e) {
        console.log("micromodal error: ", e);
        }
    });
    

   
</script>