<hr>
<h4>Currently On Repeat</h4>

<div class="album-list">


  <div class="album">
    <a href="https://www.youtube.com/watch?v=WXTIJzPg1H4"><img loading="lazy" src="/assets/img/misc/altingun.jpg">
      <h5>Altin Gün</h5>
      <p>Goca Dünya</p>
    </a>
  </div>

  <div class="album">
    <a href="https://www.youtube.com/watch?v=cCCqgyc7Oi4"><img loading="lazy" src="/assets/img/misc/lessins.jpg">
      <h5>Bellow</h5>
      <p>Les Sins</p>
    </a>
  </div>

  <!-- <div class="album">
    <a href="https://www.youtube.com/watch?v=TzIOeSB9RaU"><img loading="lazy" src="/assets/img/misc/phil.jpg">
      <h5>I Cannot Believe It's True</h5>
      <p>Phil Collins</p>
    </a>
  </div> -->

  <!-- <div class="album">
    <a href="https://www.youtube.com/watch?v=14b_yqIVeLg"><img loading="lazy" src="/assets/img/uploads/misc/swans.jpg">
      <h5>Blind</h5>
      <p>Swans</p>
    </a>
  </div> -->

</div>
