<hr>
<h4>Currently On Repeat</h4>

<div class="album-list">


  <div class="album">
    <a href="https://www.youtube.com/watch?v=WXTIJzPg1H4">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/misc/altingun.jpg">
        <span class="dot"></span>
      </div>
      <h5>Goca Dünya</h5>
      <p>Altin Gün</p>
    </a>
  </div>

  <!-- <div class="album">
    <a href="https://www.youtube.com/watch?v=WXTIJzPg1H4">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/misc/lessins.jpg">
        <span class="dot"></span>
      </div>
      <h5>Bellow</h5>
      <p>Les Sins</p>
    </a>
  </div> -->


  <div class="album">
    <a href="https://www.youtube.com/watch?v=14b_yqIVeLg">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/uploads/misc/swans.jpg">
        <span class="dot"></span>
      </div>
      <h5>Blind</h5>
      <p>Swans</p>
    </a>
  </div>



</div>
