<hr>
<h4>Currently On Repeat</h4>

<div class="album-list">

  <div class="album">
    <a href="https://www.youtube.com/watch?v=JJPs2YgPmfI">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/misc/genesis.jpg">
        <span class="dot"></span>
      </div>
      <h5>Taking It All Too Hard</h5>
      <p>Genesis</p>
    </a>
  </div>


  <div class="album">
    <a href="https://www.youtube.com/watch?v=7SDKX_Ru52k">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/misc/tfs.jpg">
        <span class="dot"></span>
      </div>
      <h5>You Let My Tyres Down</h5>
      <p>Tropical Fuck Storm</p>
    </a>
  </div>



  <div class="album">
    <a href="https://www.youtube.com/watch?v=6JNWdh-fhfQ">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/misc/aim.jpeg">
        <span class="dot"></span>
      </div>
      <h5>Good Disease</h5>
      <p>Aim</p>
    </a>
  </div>

  <div class="album">
    <a href="https://www.youtube.com/watch?v=ex6-A803EnE">
      <div class="imgWrapper">
        <img loading="lazy" src="/assets/img/misc/boc.jpg">
        <span class="dot"></span>
      </div>
      <h5>Chromakey Dreamcoat</h5>
      <p>Boards of Canada</p>
    </a>
  </div>



</div>
