<!-- Project nav is used to direct users to browse more projects when reaching the end of the current project. -->

<div class="standard-width">
    <section class="next-section">
      <div>
        <p class="subhead">Still Interested?</p>
        <h3 >See More Projects</h3>
      </div>
    </section>
</div>

<script>
  $('.next-section').click(function() {
    $('.dropdown-menu').toggleClass('toggled');
    $('#chevron').toggleClass('rotate-chevron');
    $("#focus-overlay").fadeToggle(150);
    console.log("in here");
  });
</script>
