---
title: Photography
permalink: "/photo"
layout: default
---

<div class="photo-page">
  <div class="photo-grid">
    {% for file in site.static_files %}
    {% if file.path contains '/assets/img/photo/' %}
    {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.png' or file.extname == '.JPG' %}
    <div class="photo-item">
      <img src="{{ file.path }}" alt="Photography" loading="lazy" data-photo-src="{{ file.path }}">
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="photo-lightbox">
  <div class="photo-lightbox-backdrop"></div>
  <div class="photo-lightbox-content">
    <img class="photo-lightbox-image" src="" alt="Photography">
  </div>
</div>