---
title: home
layout: temphome
---

<body class="minimal-home fadeIn ">
  <div>
    <p>
      <span class="pill"><span class="dot blink"></span>Not open for work</span>
    </p>
    <h1>Hello Internet user, I’m <span class="inline-highlight">Oliver</span> – a software designer. Currently working on discovery, search, and AI at Handshake.</h1>
    <h2></h2>


    <div class="work-list slideUp">
      <p class="subhead">links</p>
      <span><a style="display: inline-block" href="https://www.theinterviewkit.com/"><p>The Interview Kit ↗</p></a></span>
      <span><a style="display: inline-block" href="https://www.figma.com/community/file/1134973529360132718"><p>Acing the Portfolio Presentation ↗</p></a></span>
      <span><a style="display: inline-block" href="https://oliverengel.notion.site/The-Graphic-Design-Primer-40753e8952c14902b85d998bba745411"><p>The Graphic Design Primer ↗</p></a></span>
    </div>

    <!-- <div class="slideUp lists" style="display: flex; gap: 128px;">
      <div class="work-list">
        <p class="subhead">Resources</p>
        <p>The Interview Kit ↗</p>
        <p>Complete Guide to Case Studies ↗</p>
        <p>Acing the Portfolio Presentation ↗</p>
        <p>The Graphic Design Primer ↗</p>
      </div>
    
      <div class="work-list">
        <p class="subhead">Posts</p>
        <p>Data-driven design – 2022 ↗</p>
        <p>Designing icons for mobile – 2019 ↗</p>
      </div>

    </div> -->


</div>



  <div class="home-footer slideUp" >
    <div style="display: flex; gap: 24px;" class="links">
      <a href="https://www.linkedin.com/in/oengel/"><p>LinkedIn ↗</p></a>
      <a href="mailto: oliverengel6@gmail.com"><p>oliverengel6@gmail.com ↗</p></a>
    </div>

    <span><a style="display: inline-block" href="https://www.google.com/maps/place/Ravenna,+Seattle,+WA/@47.679156,-122.3084627,14z/data=!3m1!4b1!4m6!3m5!1s0x54901479006afd25:0xd6e9b9acc37ccba2!8m2!3d47.6758606!4d-122.3009388!16zL20vMDQzNGhj?entry=ttu"><p>47.6759° N, 122.3009° W ↗</p></a></span>
  </div>


  <!-- <img src="assets/img/misc/portrait2.jpg"> -->
</body>


