---
title: home
layout: default
---

<body>
  <section class="full-header">

    <h1 class="animated-header">Hello, Internet user.</h1>
    <!-- <h1 class="show-on-mobile">{{page.headline}}</h1> -->
    <p>I’m Oliver, a software designer in Seattle, WA.</p>
  </section>


  <div class="main-grid">


    
    <div class="two-column-offset row">

      {% assign apply = site.pages | where: "permalink", "work/apply" | first %}

      <div class="grid-item" onclick="location.href = '{{apply.permalink}}'">
        <div class="text-group">
          <b><span>{{apply.org}}</span></b>
          <p>{{apply.shortdescription}}</p>
        </div>

          <video autoplay loop muted playsinline>
            <source 
              src="{{apply.hero | append: '.mp4'}}" 
              type='video/mp4; codecs="hvc1"'>
            <source 
            src="{{apply.hero | append: '.webm'}}" 
            type="video/webm">
          </video>
      </div>

      <div class="grid-item">
        <div class="text-group">
          <b><span>Handshake</span></b>
          <p>Envisioning a new job search</p>
        </div>
  
          <img src="/assets/img/video/applyflow.png">
      </div>

    </div>

    {% assign visuals = site.pages | where: "permalink", "work/visuals" | first %}

    <div class="two-column-offset-reverse row-shorter">

      <div class="grid-item" onclick="location.href = '{{visuals.permalink}}'">
        <div class="text-group">
          <b><span>{{visuals.title}}</span></b>
          <p>{{visuals.shortdescription}}</p>
        </div>

        <video autoplay loop muted playsinline>
          <source 
            src="{{visuals.hero | append: '.mp4'}}" 
            type='video/mp4; codecs="hvc1"'>
          <source 
            src="{{visuals.hero | append: '.webm'}}" 
            type="video/webm">
        </video>

      </div>

      {% assign trebuchet = site.pages | where: "permalink", "work/trebuchet" | first %}

      <div class="grid-item" onclick="location.href = '{{trebuchet.permalink}}'">
        <div class="text-group">
          <b><span>{{trebuchet.title}}</span></b>
          <p>{{trebuchet.shortdescription}}</p>
        </div>

          <video autoplay loop muted playsinline>
            <source 
              src="{{trebuchet.hero | append: '.mp4'}}" 
              type='video/mp4; codecs="hvc1"'>
            <source 
              src="{{trebuchet.hero | append: '.webm'}}" 
                type="video/webm">
          </video>
          
      </div>
    </div>
  </div>


<div class="spacer-16x"></div>

</body>
