---
title: home
layout: temphome
---

<body class="minimal-home fadeIn" style="border-top: 6px solid #cddc39">
  <div>
    <h1>Hello Internet user, my name is <span class="inline-highlight">Oliver</span>. I design software and digital experiences. I'm currently working on search, discovery, and AI-mediated experiences at Handshake.</h1>
  


    <div class="work-list">
      <p class="subhead">Resources</p>
      <p>The Interview Kit (Soon)</p>
      <span><a style="display: inline-block" href="https://www.figma.com/community/file/1225311152564839414"><p>Complete Guide to Case Studies ↗</p></a></span>
      <span><a style="display: inline-block" href="https://www.figma.com/community/file/1134973529360132718"><p>Acing the Portfolio Presentation ↗</p></a></span>
      <span><a style="display: inline-block" href="https://oliverengel.notion.site/The-Graphic-Design-Primer-40753e8952c14902b85d998bba745411"><p>The Graphic Design Primer ↗</p></a></span>
    </div>

    <!-- <div class="slideUp lists" style="display: flex; gap: 128px;">
      <div class="work-list">
        <p class="subhead">Resources</p>
        <p>The Interview Kit ↗</p>
        <p>Complete Guide to Case Studies ↗</p>
        <p>Acing the Portfolio Presentation ↗</p>
        <p>The Graphic Design Primer ↗</p>
      </div>
    
      <div class="work-list">
        <p class="subhead">Posts</p>
        <p>Data-driven design – 2022 ↗</p>
        <p>Designing icons for mobile – 2019 ↗</p>
      </div>

    </div> -->


</div>



  <div class="home-footer" >
    <div style="display: flex; gap: 24px;" class="slideUp links">
      <a href="https://www.linkedin.com/in/oengel/"><p>LinkedIn ↗</p></a>
      <p>oliverengel6@gmail.com</p>
    </div>

    <p class="slideUp">Working in Seattle, WA ☁︎︎</p>
  </div>


  <!-- <img src="assets/img/misc/portrait2.jpg"> -->
</body>


