---
layout: default
---

<div class="page-header-wrapper fadeIn">
    <div>
        <div class="page-header">
            <div class="tag-cloud">
                <div class="tag">{{page.prettydate}}</div>
            </div>
            <h1 style="padding-bottom:12px">{{page.title}}</h1>
            <p style="max-width:40ch; margin: 0 auto">{{page.description}}</p>
            
            <br>
            
            <img class="post-hero-image" src="{{page.hero}}">

        </div>
    </div>
</div>





    <div class="blog-markdown" >
      {{content}}
    </div>
    