---
layout: default
---

<body class="blog-post">
  <!-- <img class="post-hero-image" src="{{page.hero}}"> -->

  <div class="post-intro">
    <img class="post-hero-image" src="{{page.hero}}">

    <div class="post-header">
      <!-- <p class="subhead">{{page.year}} • {{page.org}}</p> -->
      <h2>{{page.title}}</h2>
      <p class="subdued-text">{{page.description}}</p>

      <!-- <span class="pill">{{page.tagname}}</span> -->

    </div>
  </div>

  <section class="content remove-top-radius ">

    <!-- <div class="post-header">
      <h2>{{page.title}}</h2>
      <p class="subdued-text">{{page.description}}</p>
    </div> -->


<!--
    <div class="spacer-16x"></div>
    <hr>
    <div class="spacer-12x"></div> -->


    <div class="blog-markdown standard-width">
      {{content}}
    </div>

    <div class="spacer-8x"></div>

    <!-- <hr> -->

    {% include navigation/post-internal-navigation.html %}


  </section>

</body>
