---
layout: default
---

    <div class="full-width-wrapper fadeIn">
        <div class="page-header">
            <!-- <button class="secondary-button">Back to writing</button> -->
            <div>
                <!-- <p class="subhead">{{page.prettydate}}</p> -->
                <h1 style="padding-bottom:12px">{{page.title}}</h1>
            </div>
            <p style="max-width:40ch; margin: 0 auto">{{page.description}}</p>
        </div>
    </div>

    <div class="blog-markdown">
        {{content}}
    </div>

