---
layout: default
---

<body class="blog-post">

  <div class="post-intro">
    <img class="post-hero-image" src="{{page.hero}}">

    <div class="post-header">
      <p class="subhead">{{page.year}} • {{page.org}}</p>
      <h2>{{page.title}}</h2>
      <p class="subdued-text">{{page.description}}</p>

    </div>
  </div>

  <section class="content remove-top-radius">

    <div class="blog-markdown standard-width">
      {{content}}
    </div>

    {% include project-list/inline-project-list.html %}

  </section>


</body>
