---
title: Resources
layout: default
---

<body class="blog-home">

  <section class="full-header">
    <h1 class="animated-header">Digital stuff for designers </h1>
    <p>Files & guides, for free or to buy!</p>
  </section>

  <section class="resource-grid">
    <div class="resource" onclick="location.href = 'https://www.figma.com/community/file/1225311152564839414/%F0%9F%92%AB-Case-Study-Guide-%26-Template
    '">
      <img src="assets/img/resources/casestudies.jpg">
      <div class="details">
        <p class="name">The Complete Guide to Case Studies</p>
        <p class="price">$9</p>
      </div>

      <p>A guide to nailing every aspect of the product design case study.</p>

      <div class="stats">
        <p class="subhead">1k+ downloads · 180+ likes</p>
      </div>
    </div>

    <div class="resource" onclick="location.href = 'https://www.figma.com/community/file/1134973529360132718/%F0%9F%8C%88-Portfolio-Presentation-Guide-%26-Template'">
      <img src="assets/img/resources/presentations.jpg">
      <div class="details">
        <p class="name">Portfolio Presentation Guide & Template</p>
        <p class="price">Free</p>
      </div>

      <p>How to ace the product design portfolio presentation.</p>

      <div class="stats">
        <p class="subhead">5k+ downloads · 500+ likes</p>
      </div>
    </div>


    <div class="resource" onclick="location.href = 'https://www.figma.com/community/file/1089375890509182511/%E2%9A%A1-Design-System-Documentation-Kit'">
      <img src="assets/img/resources/systems.jpg">
      <div class="details">
        <p class="name">Design System Documentation Kit</p>
        <p class="price">Free</p>
      </div>

      <p>Beautiful, ready-made design systems documentation components.</p>

      <div class="stats">
        <p class="subhead">2.7k+ downloads · 240+ likes</p>
      </div>
    </div>

    <div class="resource" onclick="location.href = 'https://www.figma.com/community/file/1008915545779167203/%F0%9F%8C%80-Auto-Layout-Table-Kit'">
      <img src="assets/img/resources/tables.jpg">
      <div class="details">
        <p class="name">Auto Layout Table Kit</p>
        <p class="price">Free</p>
      </div>

      <p>Practical ready-made components to start designing tables in Figma.</p>

      <div class="stats">
        <p class="subhead">2.1k+ downloads · 100+ likes</p>
      </div>
    </div>



  </section>


 

</body>
