---
title: Words
layout: default
---

<body class="words-page">

<section class="content content-narrow">

<h3>Writing stuff occasionally. No promises on quality.</h3>


<form class="email-collect" name="contact" method="POST" data-netlify="true" action="/success">
  <p>Want spicy new words in your inbox?</p>

  <div class="form-container">

    <label class="form-children"><input type="email" name="email" placeholder="gimme@ur-email.com"/></label>
    <button class="form-children" type="submit">Send</button>

  </div>

</form>

<center>
  <div class="verticalLine">
    <br><br>
  </div>
</center>

  {% for post in site.posts %}
  <div class="blog-wrapper">
    <a class="blog-entry" href="{{post.url}}">
      <div class="img-wrapper">
        <img src="{{post.thumb}}">
      </div>

      <div class="blog-entry-content">
        <!-- <p class="blog-date">8 MAY 19</p> -->
        <h5>{{post.title}}</h5>
        <p>{{post.description}}</p>
        <p><span id="read-more">Read More</span></p>
      </div>

    </a>
  </div>
  {% endfor %}




</section>

</div>

</body>
